.advantages-01__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 1200px) {
  .advantages-01__cards {
    gap: 16px;
  }
}
@media (max-width: 576px) {
  .advantages-01__cards {
    gap: 10px;
  }
}
.advantages-01__card {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 10px);
          flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
}
@media (max-width: 1200px) {
  .advantages-01__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 8px);
            flex: 0 0 calc(50% - 8px);
    max-width: calc(50% - 8px);
  }
}
@media (max-width: 768px) {
  .advantages-01__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: none;
  }
}
.advantages-01__card-photo {
  margin: 0;
}
.advantages-01__card-photo-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.advantages-01__card-info {
  position: absolute;
  inset: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  padding: 24px 30px;
}
@media (max-width: 1200px) {
  .advantages-01__card-info {
    gap: 8px;
    padding: 24px 20px;
  }
}
@media (max-width: 992px) {
  .advantages-01__card-info {
    padding: 20px 14px;
  }
}
@media (max-width: 768px) {
  .advantages-01__card-info {
    padding: 20px 10px;
  }
}
.advantages-01__card-info-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  color: #fff;
}
@media (max-width: 1500px) {
  .advantages-01__card-info-title {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .advantages-01__card-info-title {
    font-size: 20px;
  }
}
.advantages-01__card-info-description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
}
@media (max-width: 1500px) {
  .advantages-01__card-info-description {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .advantages-01__card-info-description {
    font-size: 15px;
  }
}