@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: var(--color-black);
  background-color: var(--color-white);
}

a,
button,
input,
textarea {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.container {
  display: block;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
}
@media (max-width: 340px) {
  .container {
    padding: 0 10px;
  }
}

.button {
  display: inline-block;
  min-width: 176px;
  min-height: 50px;
  padding: 13px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #1e674e;
  border: 2px solid #1e674e;
  -webkit-transition-property: background-color, border-color, color;
  transition-property: background-color, border-color, color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.button_light {
  color: #1e674e;
  border-color: #1e674e;
  background-color: #ffffff;
}
.button_light:hover {
  color: #ffffff;
  background-color: #1e674e;
}
.button_dark {
  color: #ffffff;
  border-color: #1e674e;
  background-color: #1e674e;
}
.button_dark:hover {
  border-color: #1c1c20;
  background-color: #1c1c20;
}
.button_secondary {
  color: #3e3e3e;
  border-color: #ebebeb;
  background-color: #ebebeb;
}
.button_secondary:hover {
  color: #ffffff;
  border-color: #1e674e;
  background-color: #1e674e;
}