@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #000000;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.container {
  display: block;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
}