.etapy-v-02 {
  background-color: #2f2f2f;
}
.etapy-v-02__wrapper {
  overflow: auto;
}
@media (max-width: 992px) {
  .etapy-v-02__wrapper {
    margin: 0 -20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
@media (max-width: 576px) {
  .etapy-v-02__wrapper {
    margin: 0 -15px;
  }
}
@media (max-width: 992px) {
  .etapy-v-02__wrapper::-webkit-scrollbar {
    display: none;
  }
}
.etapy-v-02__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}
@media (max-width: 1500px) {
  .etapy-v-02__list {
    gap: 20px;
  }
}
@media (max-width: 992px) {
  .etapy-v-02__list {
    min-width: 130%;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .etapy-v-02__list {
    gap: 20px 16px;
    min-width: 220%;
  }
}
@media (max-width: 576px) {
  .etapy-v-02__list {
    padding: 0 15px;
  }
}
.etapy-v-02__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 20px);
          flex: 0 0 calc(33.3333333333% - 20px);
  min-height: 136px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1500px) {
  .etapy-v-02__list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.3333333333% - 13.3333333333px);
            flex: 0 0 calc(33.3333333333% - 13.3333333333px);
  }
}
@media (max-width: 1200px) {
  .etapy-v-02__list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
  }
}
@media (max-width: 992px) {
  .etapy-v-02__list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.3333333333% - 13.3333333333px);
            flex: 0 0 calc(33.3333333333% - 13.3333333333px);
  }
}
@media (max-width: 768px) {
  .etapy-v-02__list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.3333333333% - 10.6666666667px);
            flex: 0 0 calc(33.3333333333% - 10.6666666667px);
  }
}
.etapy-v-02__list-item-id {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 92px;
          flex: 0 0 92px;
  max-width: 92px;
  padding: 20px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-align: right;
  color: #fff;
  background-color: #1e674e;
}
@media (max-width: 1500px) {
  .etapy-v-02__list-item-id {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 72px;
            flex: 0 0 72px;
    max-width: 72px;
  }
}
@media (max-width: 1200px) {
  .etapy-v-02__list-item-id {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 92px;
            flex: 0 0 92px;
    max-width: 92px;
  }
}
@media (max-width: 992px) {
  .etapy-v-02__list-item-id {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 64px;
            flex: 0 0 64px;
    max-width: 64px;
    padding: 20px 15px;
  }
}
.etapy-v-02__list-item-details {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px;
  background-color: #ffffff;
}
.etapy-v-02__list-item-details-title {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #1c1c20;
  overflow-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 1500px) {
  .etapy-v-02__list-item-details-title {
    font-size: 18px;
  }
}
.etapy-v-02__list-item-details-desctiption {
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #727278;
}