.etapy-v-01__gallery .swiper {
  display: grid;
}
.etapy-v-01__gallery .swiper-wrapper {
  min-width: 0;
}
.etapy-v-01__gallery .swiper-slide {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.etapy-v-01__gallery .swiper-button-prev, .etapy-v-01__gallery .swiper-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #1c1c20;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media (max-width: 992px) {
  .etapy-v-01__gallery .swiper-button-prev, .etapy-v-01__gallery .swiper-button-next {
    display: none;
  }
}
.etapy-v-01__gallery .swiper-button-prev:hover, .etapy-v-01__gallery .swiper-button-next:hover {
  background-color: #1e674e;
}
.etapy-v-01__gallery .swiper-button-prev::after, .etapy-v-01__gallery .swiper-button-next::after {
  content: "";
  display: block;
  width: 22px;
  aspect-ratio: 1;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  background: url(../assets/o-kompanii-v-01/arrow-left.svg) center/cover no-repeat;
}
.etapy-v-01__gallery .swiper-button-prev {
  left: 0;
}
.etapy-v-01__gallery .swiper-button-prev::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.etapy-v-01__gallery .swiper-button-next {
  right: 0;
}
.etapy-v-01__gallery .swiper-button-disabled {
  opacity: 0;
}
.etapy-v-01__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ebebeb;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .etapy-v-01__slide {
    max-width: 294px;
    width: auto;
  }
}
@media (max-width: 768px) {
  .etapy-v-01__slide {
    max-width: 299px;
  }
}
.etapy-v-01__slide-details {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.etapy-v-01__slide-details-title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #1c1c20;
}
.etapy-v-01__slide-details-description {
  margin: 20px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #3e3e3e;
}
.etapy-v-01__slide-details-controls {
  margin: 6px 0 0;
}
.etapy-v-01__slide-details-controls-button {
  text-transform: uppercase;
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
}
.etapy-v-01__slide-id {
  margin: 14px 0 0;
  font-weight: 500;
  font-size: 70px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: right;
  color: #2f2f2f;
}