.first-screen-10 {
  padding: 61px 0;
  background: url(../assets/first-screen-10/bg.jpg) center no-repeat;
  background-size: auto 100%;
  background-color: #09090b;
}
@media (max-width: 992px) {
  .first-screen-10 {
    padding: 24px 0;
    background-image: url(../assets/first-screen-10/bg-mob.jpg);
    background-size: cover;
  }
}
.first-screen-10__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
@media (max-width: 1200px) {
  .first-screen-10__wrapper {
    gap: 32px;
  }
}
@media (max-width: 992px) {
  .first-screen-10__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.first-screen-10__main {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 620px;
          flex: 0 1 620px;
}
@media (max-width: 992px) {
  .first-screen-10__main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.first-screen-10__main-tag {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 12px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  background: #a2031a;
}
.first-screen-10__main-title {
  margin: 30px 0 0;
  font-weight: 800;
  font-size: 64px;
  line-height: 115%;
  letter-spacing: -0.02em;
  color: #fff;
}
@media (max-width: 768px) {
  .first-screen-10__main-title {
    font-size: 38px;
  }
}
.first-screen-10__main-description {
  margin: 16px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.7);
}
.first-screen-10__main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin: 30px 0 0;
  padding: 0;
  list-style-type: none;
}
.first-screen-10__main-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
@media (max-width: 768px) {
  .first-screen-10__main-list-item {
    font-size: 14px;
  }
}
.first-screen-10__main-list-item::before {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20px;
  aspect-ratio: 1;
  background: url(../assets/first-screen-10/check-circle.svg) center/cover no-repeat;
}
.first-screen-10__callback {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 480px;
          flex: 0 0 480px;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  background-color: #1e1e1e;
}
@media (max-width: 992px) {
  .first-screen-10__callback {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 24px;
  }
}
.first-screen-10__callback-title {
  margin: 0 0 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #fff;
}
@media (max-width: 768px) {
  .first-screen-10__callback-title {
    font-size: 20px;
  }
}
.first-screen-10__callback-description {
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #8e8e93;
}
@media (max-width: 768px) {
  .first-screen-10__callback-description {
    font-size: 14px;
  }
}
.first-screen-10__callback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.first-screen-10__callback-form-fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.first-screen-10__callback-form-input {
  display: inline-block;
  width: 100%;
  padding: 14px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: transparent;
  -webkit-transition-property: background-color, border-color, color;
  transition-property: background-color, border-color, color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.first-screen-10__callback-form-input:user-invalid {
  border-color: #ec221f;
}
.first-screen-10__callback-form-input:disabled {
  color: #b3b3b3;
  border-color: #444444;
  background-color: #383838;
}
.first-screen-10__callback-form-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.first-screen-10__callback-form-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.first-screen-10__callback-form-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.first-screen-10__callback-form-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.first-screen-10__callback-form-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.first-screen-10__callback-form-submit {
  display: inline-block;
  width: 100%;
  padding: 17px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: #a2031a;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.first-screen-10__callback-form-submit:hover {
  background-color: #880216;
}
.first-screen-10__callback-form-submit:disabled {
  color: #b3b3b3;
  background-color: #383838;
}
.first-screen-10__callback-form-disclaimer {
  margin: 16px 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.7);
}
.first-screen-10__callback-form-disclaimer-link {
  color: inherit;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.first-screen-10__callback-form-disclaimer-link:hover {
  color: #ffffff;
}