.footer-v-01 {
  padding: 40px 0;
  background-color: #1c1c20;
}
@media (max-width: 992px) {
  .footer-v-01 {
    padding: 36px 0 60px;
  }
}
.footer-v-01__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 0;
  margin: 0 0 50px;
}
@media (max-width: 992px) {
  .footer-v-01__top {
    margin-bottom: 30px;
  }
}
.footer-v-01__top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - 240px) / 4);
          flex: 0 0 calc((100% - 240px) / 4);
  gap: 30px;
}
@media (max-width: 1200px) {
  .footer-v-01__top-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 992px) {
  .footer-v-01__top-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 18px;
  }
}
.footer-v-01__top-info-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0;
}
.footer-v-01__top-info-logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 992px) {
  .footer-v-01__top-info-logo-link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.footer-v-01__top-info-logo-link-image {
  display: block;
  max-width: 100%;
  width: 198px;
  height: auto;
}
.footer-v-01__top-info-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 6px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  -webkit-transition: color ease-out 0.1s;
  transition: color ease-out 0.1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.footer-v-01__top-info-location:hover {
  color: #1e674e;
}
.footer-v-01__top-info-location::before {
  content: "";
  display: block;
  width: 10px;
  aspect-ratio: 1;
  background: url(../assets/header-v-01/location.svg) center/cover no-repeat;
  -webkit-filter: brightness(1000%);
          filter: brightness(1000%);
  -webkit-transition: -webkit-filter ease-out 0.1s;
  transition: -webkit-filter ease-out 0.1s;
  transition: filter ease-out 0.1s;
  transition: filter ease-out 0.1s, -webkit-filter ease-out 0.1s;
}
.footer-v-01__top-info-location:hover::before {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
.footer-v-01__top-nav-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - 240px) / 4 * 3);
          flex: 0 0 calc((100% - 240px) / 4 * 3);
}
@media (max-width: 1500px) {
  .footer-v-01__top-nav-desktop {
    gap: 24px;
  }
}
@media (max-width: 1200px) {
  .footer-v-01__top-nav-desktop {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 240px);
            flex: 0 0 calc(100% - 240px);
  }
}
@media (max-width: 992px) {
  .footer-v-01__top-nav-desktop {
    display: none;
  }
}
.footer-v-01__top-nav-desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 40px);
          flex: 0 0 calc(33.3333333333% - 40px);
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 1500px) {
  .footer-v-01__top-nav-desktop-menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.3333333333% - 16px);
            flex: 0 0 calc(33.3333333333% - 16px);
  }
}
.footer-v-01__top-nav-desktop-menu-item-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #ffffff;
  -webkit-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}
.footer-v-01__top-nav-desktop-menu-item-link_underline {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.footer-v-01__top-nav-desktop-menu-item-link:hover {
  color: #1e674e;
}
.footer-v-01__top-nav-mobile {
  display: none;
}
@media (max-width: 992px) {
  .footer-v-01__top-nav-mobile {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.footer-v-01__top-nav-mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-v-01__top-nav-mobile-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 14px;
}
.footer-v-01__top-nav-mobile-menu-item:has(.footer-v-01__top-nav-mobile-menu-item-submenu)::after {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 20px;
  aspect-ratio: 1;
  background: url(../assets/footer-v-01/chevron-down.svg) center/cover no-repeat;
}
.footer-v-01__top-nav-mobile-menu-item.active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.footer-v-01__top-nav-mobile-menu-item-link {
  display: inline-block;
  max-width: calc(100% - 34px);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #fff;
  -webkit-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}
.footer-v-01__top-nav-mobile-menu-item-link_underline {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.footer-v-01__top-nav-mobile-menu-item-link:hover {
  color: #1e674e;
}
.footer-v-01__top-nav-mobile-menu-item:has(.footer-v-01__top-nav-mobile-menu-item-submenu) .footer-v-01__top-nav-mobile-menu-item-link {
  pointer-events: none;
}
.footer-v-01__top-nav-mobile-menu-item-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  max-height: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  -webkit-transition: max-height ease-in-out 0.2s;
  transition: max-height ease-in-out 0.2s;
}
.footer-v-01__top-nav-mobile-menu-item-submenu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 14px;
  padding: 14px 0 0;
}
.footer-v-01__top-nav-mobile-menu-item-submenu-item:last-child {
  padding-bottom: 6px;
}
.footer-v-01__top-nav-mobile-menu-item-submenu-item-link {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #a1a1a4;
  -webkit-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}
.footer-v-01__top-nav-mobile-menu-item-submenu-item-link_underline {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.footer-v-01__top-nav-mobile-menu-item-submenu-item-link:hover {
  color: #1e674e;
}
.footer-v-01__top-contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
}
@media (max-width: 992px) {
  .footer-v-01__top-contacts {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: none;
  }
}
.footer-v-01__top-contacts-phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2px;
  margin: 0 0 4px;
}
@media (max-width: 992px) {
  .footer-v-01__top-contacts-phones {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.footer-v-01__top-contacts-phones-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-align: right;
  color: #fff;
  -webkit-transition: opacity ease-out 0.2s;
  transition: opacity ease-out 0.2s;
}
.footer-v-01__top-contacts-phones-link:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #1e674e;
}
.footer-v-01__top-contacts-time {
  margin: 4px 0 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  text-align: right;
  color: #fff;
}
@media (max-width: 992px) {
  .footer-v-01__top-contacts-time {
    text-align: left;
  }
}
.footer-v-01__top-contacts-address {
  max-width: 240px;
  margin: 12px 0 0;
  text-align: right;
}
@media (max-width: 992px) {
  .footer-v-01__top-contacts-address {
    text-align: left;
  }
}
.footer-v-01__top-contacts-address-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #fff;
}
.footer-v-01__top-contacts-address-link:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #1e674e;
}
.footer-v-01__top-contacts-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 12px 0 0;
}
@media (max-width: 992px) {
  .footer-v-01__top-contacts-email {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.footer-v-01__top-contacts-email-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #fff;
}
@media (max-width: 992px) {
  .footer-v-01__top-contacts-email-link {
    text-align: left;
  }
}
.footer-v-01__top-contacts-email-link:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #1e674e;
}
.footer-v-01__top-contacts-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
  margin: 12px 0 0;
}
@media (max-width: 992px) {
  .footer-v-01__top-contacts-social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 18px;
  }
}
.footer-v-01__top-contacts-social-link {
  display: inline-block;
  width: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  aspect-ratio: 1/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  -webkit-transition-property: border, color, background-color;
  transition-property: border, color, background-color;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.footer-v-01__top-contacts-social-link:hover {
  background-color: #2f2f2f;
}
.footer-v-01__top-contacts-social-link_tg {
  background-image: url(../assets/footer-v-01/telegram.svg);
  background-color: #166ff5;
}
.footer-v-01__top-contacts-social-link_wts {
  background-image: url(../assets/footer-v-01/whatsapp.svg);
  background-color: #06cc4d;
}
.footer-v-01__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
@media (max-width: 992px) {
  .footer-v-01__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0;
  }
}
.footer-v-01__bottom-copyright {
  font-weight: 400;
  font-size: 15px;
  color: #a1a1a4;
}
@media (max-width: 992px) {
  .footer-v-01__bottom-copyright {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .footer-v-01__bottom-policy {
    margin: 4px 0 0;
  }
}
.footer-v-01__bottom-policy-link {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  color: #a1a1a4;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-align: center;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
@media (max-width: 992px) {
  .footer-v-01__bottom-policy-link {
    font-size: 14px;
  }
}
.footer-v-01__bottom-policy-link:hover {
  color: #ffffff;
}
.footer-v-01__bottom-developer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (max-width: 992px) {
  .footer-v-01__bottom-developer {
    margin: 40px 0 0;
  }
}
.footer-v-01__bottom-developer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.footer-v-01__bottom-developer-link-logo, .footer-v-01__bottom-developer-link-text {
  display: block;
  max-width: 100%;
  height: auto;
}
.footer-v-01__bottom-developer-link-logo {
  width: 110px;
}
.footer-v-01__bottom-developer-link-text {
  width: 95px;
  -webkit-transition: -webkit-filter ease-in-out 0.2s;
  transition: -webkit-filter ease-in-out 0.2s;
  transition: filter ease-in-out 0.2s;
  transition: filter ease-in-out 0.2s, -webkit-filter ease-in-out 0.2s;
}
.footer-v-01__bottom-developer-link:hover .footer-v-01__bottom-developer-link-text {
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}