.footer-v-02 {
  padding: 20px 0;
  background-color: #2f2f2f;
}
@media (max-width: 768px) {
  .footer-v-02 {
    padding: 30px 0 40px;
  }
}
.footer-v-02__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
@media (max-width: 768px) {
  .footer-v-02__wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}
.footer-v-02__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.footer-v-02__logo-link-image {
  display: block;
  max-width: 100%;
  width: 201px;
  height: auto;
}
@media (max-width: 768px) {
  .footer-v-02__policy {
    margin: 30px 0 36px;
  }
}
.footer-v-02__policy-link {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-align: center;
  color: #a1a1a4;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
@media (max-width: 768px) {
  .footer-v-02__policy-link {
    text-align: left;
  }
}
.footer-v-02__policy-link:hover {
  color: #ffffff;
}
.footer-v-02__developer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.footer-v-02__developer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.footer-v-02__developer-link-logo, .footer-v-02__developer-link-text {
  display: block;
  max-width: 100%;
  height: auto;
}
.footer-v-02__developer-link-logo {
  width: 110px;
}
.footer-v-02__developer-link-text {
  width: 95px;
  -webkit-transition: -webkit-filter ease-in-out 0.2s;
  transition: -webkit-filter ease-in-out 0.2s;
  transition: filter ease-in-out 0.2s;
  transition: filter ease-in-out 0.2s, -webkit-filter ease-in-out 0.2s;
}
.footer-v-02__developer-link:hover .footer-v-02__developer-link-text {
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}