.kartochka-tovara-taby-v-01__wrapper {
  max-width: 980px;
}
.kartochka-tovara-taby-v-01__tabs {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: auto;
}
@media (max-width: 768px) {
  .kartochka-tovara-taby-v-01__tabs {
    margin: 0 -20px;
  }
}
@media (max-width: 576px) {
  .kartochka-tovara-taby-v-01__tabs {
    margin: 0 -15px;
  }
}
@media (max-width: 340px) {
  .kartochka-tovara-taby-v-01__tabs {
    margin: 0 -10px;
  }
}
.kartochka-tovara-taby-v-01__tabs::-webkit-scrollbar {
  display: none;
}
.kartochka-tovara-taby-v-01__tabs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding: 0 0 10px;
  border-bottom: 1px solid #e8e8e8;
}
@media (max-width: 768px) {
  .kartochka-tovara-taby-v-01__tabs-wrapper {
    gap: 16px;
    padding: 0 20px 10px;
  }
}
@media (max-width: 576px) {
  .kartochka-tovara-taby-v-01__tabs-wrapper {
    padding: 0 15px 10px;
  }
}
@media (max-width: 340px) {
  .kartochka-tovara-taby-v-01__tabs-wrapper {
    padding: 0 10px 10px;
  }
}
.kartochka-tovara-taby-v-01__tabs-link {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 500;
  font-size: 18px;
  color: #1c1c20;
}
@media (max-width: 992px) {
  .kartochka-tovara-taby-v-01__tabs-link {
    font-size: 16px;
  }
}
.kartochka-tovara-taby-v-01__tabs-link::before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  display: block;
  height: 1px;
  background-color: #1e674e;
  opacity: 0;
}
.kartochka-tovara-taby-v-01__tabs-link.active::before {
  opacity: 1;
}
.kartochka-tovara-taby-v-01__block {
  padding: 50px 0 0;
}
@media (max-width: 992px) {
  .kartochka-tovara-taby-v-01__block {
    padding-top: 30px;
  }
}
.kartochka-tovara-taby-v-01__title {
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 24px;
  color: #1c1c20;
}
@media (max-width: 992px) {
  .kartochka-tovara-taby-v-01__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
.kartochka-tovara-taby-v-01__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 6px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.kartochka-tovara-taby-v-01__details-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  gap: 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ebebeb;
}
.kartochka-tovara-taby-v-01__details-item-title, .kartochka-tovara-taby-v-01__details-item-value {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 5px);
          flex: 0 0 calc(50% - 5px);
  max-width: calc(50% - 5px);
}
.kartochka-tovara-taby-v-01__details-item-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: #a1a1a4;
}
@media (max-width: 1500px) {
  .kartochka-tovara-taby-v-01__details-item-title {
    font-size: 14px;
  }
}
.kartochka-tovara-taby-v-01__details-item-value {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #1c1c20;
}
@media (max-width: 1500px) {
  .kartochka-tovara-taby-v-01__details-item-value {
    font-size: 15px;
  }
}
.kartochka-tovara-taby-v-01__info {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #3e3e3e;
}
@media (max-width: 992px) {
  .kartochka-tovara-taby-v-01__info {
    font-size: 14px;
  }
}
.kartochka-tovara-taby-v-01__docs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
}
.kartochka-tovara-taby-v-01__docs-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #3e3e3e;
}
.kartochka-tovara-taby-v-01__docs-link:hover {
  text-decoration: underline;
}
.kartochka-tovara-taby-v-01__docs-link::before {
  content: "";
  display: inline-block;
  width: 18px;
  aspect-ratio: 1;
  background: url(../assets/kartochka-tovara-taby-v-01/download.svg) center/cover no-repeat;
}