.katalog-v-1__categories {
  overflow-y: hidden;
  overflow-x: auto;
}
@media (max-width: 992px) {
  .katalog-v-1__categories {
    margin: 0 -20px;
  }
}
@media (max-width: 576px) {
  .katalog-v-1__categories {
    margin: 0 -15px;
  }
}
@media (max-width: 340px) {
  .katalog-v-1__categories {
    margin: 0 -10px;
  }
}
.katalog-v-1__categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 992px) {
  .katalog-v-1__categories-list {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .katalog-v-1__categories-list {
    padding: 0 15px;
  }
}
@media (max-width: 340px) {
  .katalog-v-1__categories-list {
    padding: 0 10px;
  }
}
.katalog-v-1__categories-list-item {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #1c1c20;
  background-color: #ebebeb;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.katalog-v-1__categories-list-item:hover {
  color: #ffffff;
  background-color: #1e674e;
}
.katalog-v-1__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  margin: 24px 0 0;
}
.katalog-v-1__wrapper-sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 248px;
          flex: 0 0 248px;
}
@media (max-width: 1500px) {
  .katalog-v-1__wrapper-sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 218px;
            flex: 0 0 218px;
  }
}
@media (max-width: 1200px) {
  .katalog-v-1__wrapper-sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }
}
@media (max-width: 992px) {
  .katalog-v-1__wrapper-sidebar {
    display: none;
  }
}
.katalog-v-1__wrapper-main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.katalog-v-1__menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.katalog-v-1__menu-item {
  padding: 12px 0;
  border-bottom: 1px solid #e9e9e9;
}
@media (max-width: 1200px) {
  .katalog-v-1__menu-item {
    max-width: 190px;
  }
}
.katalog-v-1__menu-item:first-child {
  padding-top: 0;
}
.katalog-v-1__menu-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.katalog-v-1__menu-item-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: #1c1c20;
  -webkit-transition-property: color, font-weight;
  transition-property: color, font-weight;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.katalog-v-1__menu-item-link:hover {
  color: #1e674e;
}
.katalog-v-1__menu-item.active .katalog-v-1__menu-item-link {
  font-weight: 600;
}
.katalog-v-1__menu-item.active .katalog-v-1__menu-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.katalog-v-1__menu-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 12px 0 0;
  padding-left: 10px;
  list-style-type: none;
  display: none;
}
.katalog-v-1__menu-submenu-item {
  display: inline-block;
}
.katalog-v-1__menu-submenu-item-link {
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  color: #a1a1a4;
  -webkit-transition-property: color, font-weight;
  transition-property: color, font-weight;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.katalog-v-1__menu-submenu-item-link:hover {
  color: #1e674e;
}
.katalog-v-1__catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1500px) {
  .katalog-v-1__catalog-wrapper {
    gap: 20px;
  }
}
.katalog-v-1__catalog-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  gap: 12px 24px;
  padding: 0 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e9e9e9;
}
@media (max-width: 1500px) {
  .katalog-v-1__catalog-product {
    gap: 12px 20px;
  }
}
@media (max-width: 1200px) {
  .katalog-v-1__catalog-product {
    gap: 28px 20px;
  }
}
@media (max-width: 992px) {
  .katalog-v-1__catalog-product {
    gap: 24px 20px;
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .katalog-v-1__catalog-product {
    gap: 24px 16px;
    padding-bottom: 20px;
  }
}
.katalog-v-1__catalog-product-photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 121px;
          flex: 0 0 121px;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin: 0;
}
@media (max-width: 1500px) {
  .katalog-v-1__catalog-product-photo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 114px;
            flex: 0 0 114px;
  }
}
.katalog-v-1__catalog-product-photo-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
.katalog-v-1__catalog-product-title, .katalog-v-1__catalog-product-price, .katalog-v-1__catalog-product-order {
  padding-top: 30px;
}
@media (max-width: 1500px) {
  .katalog-v-1__catalog-product-title, .katalog-v-1__catalog-product-price, .katalog-v-1__catalog-product-order {
    padding-top: 20px;
  }
}
.katalog-v-1__catalog-product-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #1c1c20;
}
@media (max-width: 768px) {
  .katalog-v-1__catalog-product-title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% - 114px - 20px);
            flex: 1 1 calc(100% - 114px - 20px);
  }
}
.katalog-v-1__catalog-product-price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 165px;
          flex: 0 0 165px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (max-width: 1500px) {
  .katalog-v-1__catalog-product-price {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 148px;
            flex: 0 0 148px;
  }
}
@media (max-width: 1200px) {
  .katalog-v-1__catalog-product-price {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 132px;
            flex: 0 0 132px;
  }
}
@media (max-width: 768px) {
  .katalog-v-1__catalog-product-price {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 8px);
            flex: 0 0 calc(50% - 8px);
    max-width: calc(50% - 8px);
    padding: 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.katalog-v-1__catalog-product-price-value {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #1c1c20;
}
@media (max-width: 768px) {
  .katalog-v-1__catalog-product-price-value {
    text-align: left;
  }
}
.katalog-v-1__catalog-product-price-disclaimer {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #1c1c20;
}
@media (max-width: 992px) {
  .katalog-v-1__catalog-product-price-disclaimer {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .katalog-v-1__catalog-product-price-disclaimer {
    text-align: left;
  }
}
.katalog-v-1__catalog-product-order {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
@media (max-width: 768px) {
  .katalog-v-1__catalog-product-order {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 8px);
            flex: 0 0 calc(50% - 8px);
    max-width: calc(50% - 8px);
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    padding: 0;
  }
}
.katalog-v-1__catalog-product-order-button {
  min-width: 174px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .katalog-v-1__catalog-product-order-button {
    min-height: 45px;
    min-width: 157px;
    padding: 10px 15px;
  }
}
@media (max-width: 576px) {
  .katalog-v-1__catalog-product-order-button {
    min-width: auto;
    width: 100%;
  }
}
.katalog-v-1__catalog-product-order-button:hover {
  background-color: #1c1c20;
}
.katalog-v-1__catalog-product-props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  gap: 20px;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  padding-bottom: 30px;
}
@media (max-width: 1500px) {
  .katalog-v-1__catalog-product-props {
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .katalog-v-1__catalog-product-props {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 24px 16px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-bottom: 0;
  }
}
.katalog-v-1__catalog-product-props-item, .katalog-v-1__catalog-product-props-all {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 15px);
          flex: 0 0 calc(25% - 15px);
}
@media (max-width: 768px) {
  .katalog-v-1__catalog-product-props-item, .katalog-v-1__catalog-product-props-all {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 8px);
            flex: 0 0 calc(50% - 8px);
    max-width: calc(50% - 8px);
  }
}
.katalog-v-1__catalog-product-props-item-title {
  margin: 0 0 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #a1a1a4;
}
.katalog-v-1__catalog-product-props-item-value {
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: #1c1c20;
}
.katalog-v-1__catalog-product-props-all-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #a1a1a4;
}
.katalog-v-1__catalog-more {
  margin: 20px 0 0;
}
.katalog-v-1__catalog-more-button {
  display: inline-block;
  min-height: 50px;
  width: 100%;
  padding: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #a1a1a4;
  border: 1px solid #e9e9e9;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.katalog-v-1__catalog-more-button:hover {
  color: #fefefe;
  border-color: #1e674e;
  background-color: #1e674e;
}
.katalog-v-1__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0 0;
}
.katalog-v-1__pagination-link, .katalog-v-1__pagination-separator {
  display: inline-block;
  padding: 0 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #a1a1a4;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.katalog-v-1__pagination-link:hover {
  color: #1e674e;
}
.katalog-v-1__pagination-link.active {
  color: #1c1c20;
  border-color: #1e674e;
}