.katalog-v-02__categories {
  overflow-y: hidden;
  overflow-x: auto;
}
@media (max-width: 992px) {
  .katalog-v-02__categories {
    margin: 0 -20px;
  }
}
@media (max-width: 576px) {
  .katalog-v-02__categories {
    margin: 0 -15px;
  }
}
@media (max-width: 340px) {
  .katalog-v-02__categories {
    margin: 0 -10px;
  }
}
.katalog-v-02__categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 992px) {
  .katalog-v-02__categories-list {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .katalog-v-02__categories-list {
    padding: 0 15px;
  }
}
@media (max-width: 340px) {
  .katalog-v-02__categories-list {
    padding: 0 10px;
  }
}
.katalog-v-02__categories-list-item {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #1c1c20;
  background-color: #ebebeb;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.katalog-v-02__categories-list-item:hover {
  color: #ffffff;
  background-color: #1e674e;
}
.katalog-v-02__categories-list-item:has(a) {
  padding: 0;
}
.katalog-v-02__categories-list-item:has(a) > a {
  display: inline-block;
  padding: 14px;
  color: inherit;
}
.katalog-v-02__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 60px;
  margin: 24px 0 0;
}
@media (max-width: 1500px) {
  .katalog-v-02__wrapper {
    gap: 30px;
  }
}
@media (max-width: 1200px) {
  .katalog-v-02__wrapper {
    gap: 20px;
  }
}
.katalog-v-02__wrapper-sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 238px;
          flex: 0 0 238px;
}
@media (max-width: 1500px) {
  .katalog-v-02__wrapper-sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 208px;
            flex: 0 0 208px;
  }
}
@media (max-width: 1200px) {
  .katalog-v-02__wrapper-sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 190px;
            flex: 0 0 190px;
  }
}
@media (max-width: 992px) {
  .katalog-v-02__wrapper-sidebar {
    display: none;
  }
}
.katalog-v-02__wrapper-main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.katalog-v-02__menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.katalog-v-02__menu-item {
  padding: 12px 0;
  border-bottom: 1px solid #e9e9e9;
}
@media (max-width: 1200px) {
  .katalog-v-02__menu-item {
    max-width: 190px;
  }
}
.katalog-v-02__menu-item:first-child {
  padding-top: 0;
}
.katalog-v-02__menu-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.katalog-v-02__menu-item-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: #1c1c20;
  -webkit-transition-property: color, font-weight;
  transition-property: color, font-weight;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.katalog-v-02__menu-item-link:hover {
  color: #1e674e;
}
.katalog-v-02__menu-item.active .katalog-v-02__menu-item-link {
  font-weight: 600;
}
.katalog-v-02__menu-item.active .katalog-v-02__menu-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.katalog-v-02__menu-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 12px 0 0;
  padding-left: 10px;
  list-style-type: none;
  display: none;
}
.katalog-v-02__menu-submenu-item {
  display: inline-block;
}
.katalog-v-02__menu-submenu-item-link {
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  color: #a1a1a4;
  -webkit-transition-property: color, font-weight;
  transition-property: color, font-weight;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.katalog-v-02__menu-submenu-item-link:hover {
  color: #1e674e;
}
.katalog-v-02__catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 38px 30px;
}
@media (max-width: 1500px) {
  .katalog-v-02__catalog-wrapper {
    gap: 36px 20px;
  }
}
@media (max-width: 1200px) {
  .katalog-v-02__catalog-wrapper {
    gap: 30px 20px;
  }
}
.katalog-v-02__catalog-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 20px);
          flex: 0 0 calc(33.3333333333% - 20px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1500px) {
  .katalog-v-02__catalog-product {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.3333333333% - 13.3333333333px);
            flex: 0 0 calc(33.3333333333% - 13.3333333333px);
  }
}
@media (max-width: 992px) {
  .katalog-v-02__catalog-product {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
  }
}
@media (max-width: 768px) {
  .katalog-v-02__catalog-product {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.katalog-v-02__catalog-product.hidden {
  display: none;
}
.katalog-v-02__catalog-product-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  background-color: #f0f0f0;
}
.katalog-v-02__catalog-product-photo-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.katalog-v-02__catalog-product-title {
  margin: 20px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #1c1c20;
}
.katalog-v-02__catalog-product-description {
  margin: 8px 0 0;
  font-weight: 400;
  font-size: 16px;
  color: #3e3e3e;
}
.katalog-v-02__catalog-product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 20px 0 0;
}
.katalog-v-02__catalog-product-price-value {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #1c1c20;
}
.katalog-v-02__catalog-product-price-disclaimer {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #1c1c20;
}
.katalog-v-02__catalog-product-order {
  margin: 16px 0 0;
}
.katalog-v-02__catalog-product-order-button {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-color: #16385e;
  background-color: #16385e;
}
.katalog-v-02__catalog-more {
  margin: 36px 0 0;
}
.katalog-v-02__catalog-more-button {
  display: inline-block;
  min-height: 50px;
  width: 100%;
  padding: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #a1a1a4;
  border: 1px solid #e9e9e9;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.katalog-v-02__catalog-more-button:hover {
  color: #fefefe;
  border-color: #1e674e;
  background-color: #1e674e;
}
.katalog-v-02__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0 0;
}
.katalog-v-02__pagination-link, .katalog-v-02__pagination-separator {
  display: inline-block;
  padding: 0 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #a1a1a4;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.katalog-v-02__pagination-link:hover {
  color: #1e674e;
}
.katalog-v-02__pagination-link.active {
  color: #1c1c20;
  border-color: #1e674e;
}