.kategorii-v-02__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 36px 30px;
  margin: 0;
}
@media (max-width: 1440px) {
  .kategorii-v-02__cards {
    gap: 36px 20px;
  }
}
.kategorii-v-02__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 20px);
          flex: 0 0 calc(33.3333333333% - 20px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1440px) {
  .kategorii-v-02__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.3333333333% - 13.3333333333px);
            flex: 0 0 calc(33.3333333333% - 13.3333333333px);
  }
}
@media (max-width: 992px) {
  .kategorii-v-02__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
  }
}
@media (max-width: 768px) {
  .kategorii-v-02__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.kategorii-v-02__card-link-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
.kategorii-v-02__card-link-title {
  display: inline-block;
  margin: 20px 0 0;
  font-weight: 500;
  font-size: 24px;
  line-height: normal;
  color: #1c1c20;
}