.kategorii-v-04__links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 20px;
}
@media (max-width: 1500px) {
  .kategorii-v-04__links {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (max-width: 1200px) {
  .kategorii-v-04__links {
    gap: 16px;
  }
}
@media (max-width: 992px) {
  .kategorii-v-04__links {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .kategorii-v-04__links {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
  }
}
.kategorii-v-04__links-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  gap: 16px;
  padding: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
  overflow: hidden !important;
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #f5f5f5;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.kategorii-v-04__links-item:hover {
  color: #ffffff;
  background-color: #1e674e;
}
.kategorii-v-04__links-item-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.kategorii-v-04__links-item-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0;
}
.kategorii-v-04__links-item-icon-image {
  display: block;
  max-width: 100%;
  width: 28px;
  height: auto;
}
.kategorii-v-04__links-item:hover .kategorii-v-04__links-item-icon {
  -webkit-filter: brightness(0%) invert(100%);
          filter: brightness(0%) invert(100%);
}