.kviz-v-01__main {
  display: none;
}
.kviz-v-01__main.active {
  display: block;
}
.kviz-v-01__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 30px;
}
@media (max-width: 1500px) {
  .kviz-v-01__wrapper {
    gap: 24px;
  }
}
.kviz-v-01__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 36px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #f5f5f5;
}
@media (max-width: 1500px) {
  .kviz-v-01__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 32px 30px;
  }
}
@media (max-width: 768px) {
  .kviz-v-01__content {
    padding: 26px 20px;
  }
}
.kviz-v-01__progress {
  margin: 0 0 24px;
}
@media (max-width: 1500px) {
  .kviz-v-01__progress {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .kviz-v-01__progress {
    margin: 0 0 24px;
  }
}
.kviz-v-01__progress-info {
  margin: 0 0 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #1c1c20;
}
@media (max-width: 1500px) {
  .kviz-v-01__progress-info {
    margin-bottom: 14px;
    font-size: 16px;
  }
}
.kviz-v-01__progress-step {
  font-size: inherit;
  color: inherit;
}
.kviz-v-01__progress-bar {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dfdfe0;
}
.kviz-v-01__progress-bar-indicator {
  position: absolute;
  top: 50%;
  left: 0;
  height: 3px;
  background-color: #1e674e;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.kviz-v-01__question {
  display: none;
}
.kviz-v-01__question.active {
  display: block;
}
.kviz-v-01__question-title {
  margin: 0 0 8px;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  color: #1c1c20;
}
@media (max-width: 1500px) {
  .kviz-v-01__question-title {
    margin-bottom: 6px;
    font-size: 22px;
  }
}
.kviz-v-01__question-description {
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #3e3e3e;
}
@media (max-width: 1500px) {
  .kviz-v-01__question-description {
    margin-bottom: 20px;
    font-size: 14px;
  }
}
.kviz-v-01__question-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 30px;
}
@media (max-width: 1500px) {
  .kviz-v-01__question-list {
    gap: 16px;
  }
}
@media (max-width: 768px) {
  .kviz-v-01__question-list {
    gap: 14px;
  }
}
.kviz-v-01__question-list-text-input {
  display: inline-block;
  min-height: 50px;
  height: 100%;
  width: 100%;
  padding: 13px 20px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: #1c1c20;
  border: 1px solid #dfdfe0;
  border-radius: 0px;
  outline: none;
  background-color: #ffffff;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media (max-width: 768px) {
  .kviz-v-01__question-list-text-input {
    width: 106.669%;
    padding: 15px 21px 14px;
    font-size: 16px;
    -webkit-transform: scale(0.9375);
            transform: scale(0.9375);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
}
.kviz-v-01__question-list-text-input:hover {
  border: 1px solid #1e674e;
}
.kviz-v-01__question-list-text-input::-webkit-input-placeholder {
  color: #a1a1a4;
}
.kviz-v-01__question-list-text-input::-moz-placeholder {
  color: #a1a1a4;
}
.kviz-v-01__question-list-text-input:-ms-input-placeholder {
  color: #a1a1a4;
}
.kviz-v-01__question-list-text-input::-ms-input-placeholder {
  color: #a1a1a4;
}
.kviz-v-01__question-list-text-input::placeholder {
  color: #a1a1a4;
}
.kviz-v-01__question-list-text-textarea {
  display: block;
  min-height: 50px;
  height: 100%;
  width: 100%;
  padding: 13px 20px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: #1c1c20;
  border: 1px solid #dfdfe0;
  border-radius: 0px;
  outline: none;
  resize: none;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  background-color: #ffffff;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media (max-width: 768px) {
  .kviz-v-01__question-list-text-textarea {
    width: 106.669%;
    padding: 15px 21px 14px;
    font-size: 16px;
    -webkit-transform: scale(0.9375);
            transform: scale(0.9375);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
}
.kviz-v-01__question-list-text-textarea:hover {
  border: 1px solid #1e674e;
}
.kviz-v-01__question-list-text-textarea::-webkit-input-placeholder {
  color: #a1a1a4;
}
.kviz-v-01__question-list-text-textarea::-moz-placeholder {
  color: #a1a1a4;
}
.kviz-v-01__question-list-text-textarea:-ms-input-placeholder {
  color: #a1a1a4;
}
.kviz-v-01__question-list-text-textarea::-ms-input-placeholder {
  color: #a1a1a4;
}
.kviz-v-01__question-list-text-textarea::placeholder {
  color: #a1a1a4;
}
.kviz-v-01__question-list-text, .kviz-v-01__question-list-checkbox, .kviz-v-01__question-list-radio {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 15px);
          flex: 0 0 calc(50% - 15px);
}
@media (max-width: 1500px) {
  .kviz-v-01__question-list-text, .kviz-v-01__question-list-checkbox, .kviz-v-01__question-list-radio {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 8px);
            flex: 0 0 calc(50% - 8px);
  }
}
@media (max-width: 768px) {
  .kviz-v-01__question-list-text, .kviz-v-01__question-list-checkbox, .kviz-v-01__question-list-radio {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.kviz-v-01__question-list-checkbox, .kviz-v-01__question-list-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  min-height: 50px;
  padding: 13px 20px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: #1c1c20;
  border: 1px solid #dfdfe0;
  border-radius: 0px;
  outline: none;
  background-color: #ffffff;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media (max-width: 1500px) {
  .kviz-v-01__question-list-checkbox, .kviz-v-01__question-list-radio {
    gap: 14px;
  }
}
.kviz-v-01__question-list-checkbox:hover, .kviz-v-01__question-list-radio:hover {
  border: 1px solid #1e674e;
}
.kviz-v-01__question-list-checkbox-input, .kviz-v-01__question-list-radio-input {
  display: none;
}
.kviz-v-01__question-list-checkbox::before {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 14px;
  height: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #dfdfe0;
}
.kviz-v-01__question-list-checkbox:has(input:checked)::before {
  border: none;
  background: url(../assets/kviz-v-01/checkbox.svg) center/contain no-repeat;
}
.kviz-v-01__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 24px;
  margin: 32px 0 0;
}
.kviz-v-01__controls-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 56px;
  padding: 0;
  aspect-ratio: 1/1;
  border: none;
  border-bottom: 2px solid #dfdfe0;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: border ease-in-out 0.2s;
  transition: border ease-in-out 0.2s;
  cursor: pointer;
}
.kviz-v-01__controls-back:hover {
  border-bottom: 2px solid #1c1c20;
}
.kviz-v-01__controls-back::before {
  content: "";
  display: block;
  width: 24px;
  aspect-ratio: 1/1;
  background: url(../assets/kviz-v-01/arrow-left.svg) center/cover no-repeat;
}
.kviz-v-01__controls-next {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 500;
  font-size: 14px;
}
.kviz-v-01__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 409px;
  margin: 0;
}
@media (max-width: 1500px) {
  .kviz-v-01__photo {
    max-width: 387px;
  }
}
@media (max-width: 1200px) {
  .kviz-v-01__photo {
    display: none;
  }
}
.kviz-v-01__photo-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.kviz-v-01__results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 30px;
  display: none;
}
@media (max-width: 1500px) {
  .kviz-v-01__results {
    gap: 20px;
  }
}
.kviz-v-01__results.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.kviz-v-01__results-info {
  padding: 36px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f5f5f5;
}
@media (max-width: 1500px) {
  .kviz-v-01__results-info {
    padding: 32px 30px;
  }
}
@media (max-width: 768px) {
  .kviz-v-01__results-info {
    padding: 26px 20px;
  }
}
.kviz-v-01__results-info-progress {
  margin: 0 0 24px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #1c1c20;
  border-bottom: 3px solid #1e674e;
}
@media (max-width: 1500px) {
  .kviz-v-01__results-info-progress {
    padding-bottom: 14px;
    margin-bottom: 20px;
    font-size: 16px;
  }
}
.kviz-v-01__results-info-title {
  margin: 0 0 36px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #1c1c20;
}
@media (max-width: 1500px) {
  .kviz-v-01__results-info-title {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
.kviz-v-01__results-info-description {
  margin: 0 0 43px;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #87878e;
}
@media (max-width: 992px) {
  .kviz-v-01__results-info-description {
    margin: 0 0 25px;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .kviz-v-01__results-info-description {
    margin: 0 0 31px;
    font-size: 20px;
  }
}
.kviz-v-01__results-info-form-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  margin: 0 0 36px;
  padding: 0;
  border: none;
}
@media (max-width: 1500px) {
  .kviz-v-01__results-info-form-data {
    margin: 0 0 32px;
  }
}
@media (max-width: 768px) {
  .kviz-v-01__results-info-form-data {
    margin: 0 0 24px;
    gap: 16px;
  }
}
.kviz-v-01__results-info-form-data-input {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 12px);
          flex: 0 0 calc(50% - 12px);
  min-height: 50px;
  height: 100%;
  width: 100%;
  padding: 13px 20px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: #1c1c20;
  border: 1px solid #dfdfe0;
  border-radius: 0px;
  outline: none;
  background-color: #ffffff;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.kviz-v-01__results-info-form-data-input:hover {
  border: 1px solid #1e674e;
}
.kviz-v-01__results-info-form-data-input::-webkit-input-placeholder {
  color: #a1a1a4;
}
.kviz-v-01__results-info-form-data-input::-moz-placeholder {
  color: #a1a1a4;
}
.kviz-v-01__results-info-form-data-input:-ms-input-placeholder {
  color: #a1a1a4;
}
.kviz-v-01__results-info-form-data-input::-ms-input-placeholder {
  color: #a1a1a4;
}
.kviz-v-01__results-info-form-data-input::placeholder {
  color: #a1a1a4;
}
@media (max-width: 768px) {
  .kviz-v-01__results-info-form-data-input {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-right: -6.25%;
    padding: 15px 22px 16px;
    font-size: 16px;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(0.9375);
            transform: scale(0.9375);
  }
}
.kviz-v-01__results-info-form-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  max-width: 363px;
  margin: 0 0 24px;
  padding: 0;
  border: none;
  border-bottom: 2px solid #dfdfe0;
}
@media (max-width: 768px) {
  .kviz-v-01__results-info-form-social {
    max-width: none;
  }
}
.kviz-v-01__results-info-form-social-item {
  position: relative;
  bottom: -3px;
  cursor: pointer;
}
.kviz-v-01__results-info-form-social-item-input {
  display: none;
}
.kviz-v-01__results-info-form-social-item-text {
  position: relative;
  display: inline-block;
  padding: 0 0 6px;
  font-weight: 500;
  font-size: 14px;
  color: #a1a1a4;
  text-transform: uppercase;
  -webkit-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}
@media (max-width: 768px) {
  .kviz-v-01__results-info-form-social-item-text {
    font-size: 13px;
  }
}
.kviz-v-01__results-info-form-social-item-text::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #1e674e;
  opacity: 0;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: opacity ease-out 0.2s;
  transition: opacity ease-out 0.2s;
}
.kviz-v-01__results-info-form-social-item:has(input:checked) .kviz-v-01__results-info-form-social-item-text {
  color: #1c1c20;
}
.kviz-v-01__results-info-form-social-item:has(input:checked) .kviz-v-01__results-info-form-social-item-text::before {
  opacity: 1;
}
.kviz-v-01__results-info-form-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 12px 20px;
}
@media (max-width: 768px) {
  .kviz-v-01__results-info-form-bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.kviz-v-01__results-info-form-bottom-submit {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 363px;
          flex: 0 0 363px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
@media (max-width: 768px) {
  .kviz-v-01__results-info-form-bottom-submit {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.kviz-v-01__results-info-form-bottom-disclaimer {
  max-width: 300px;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  color: #a1a1a4;
}
@media (max-width: 768px) {
  .kviz-v-01__results-info-form-bottom-disclaimer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: none;
  }
}
.kviz-v-01__results-info-form-bottom-disclaimer a {
  color: inherit;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
.kviz-v-01__results-info-form-bottom-disclaimer a:hover {
  color: #1c1c20;
}
.kviz-v-01__results-figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 409px;
          flex: 0 0 409px;
  padding: 0;
  margin: 0;
}
@media (max-width: 1500px) {
  .kviz-v-01__results-figure {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 357px;
            flex: 0 0 357px;
    overflow: hidden;
  }
}
@media (max-width: 1200px) {
  .kviz-v-01__results-figure {
    display: none;
  }
}
.kviz-v-01__results-figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 1500px) {
  .kviz-v-01__results-figure-image {
    position: absolute;
  }
}