.map-01__selector-wrapper {
  position: relative;
  z-index: 100;
}
.map-01__selector-select {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
  max-width: 478px;
  width: calc(100dvw - 30px);
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 1500px) {
  .map-01__selector-select {
    top: 30px;
  }
}
@media (max-width: 1200px) {
  .map-01__selector-select {
    top: 24px;
  }
}
@media (max-width: 992px) {
  .map-01__selector-select {
    padding: 10px;
  }
}
.map-01__selector-select.open::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 10;
  display: block;
}
.map-01__selector-select-trigger {
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  padding: 16px 20px;
  border: 1px solid #3e3e3e;
  background-color: #ffffff;
  cursor: pointer;
}
.map-01__selector-select-trigger::after {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 30px;
  height: 30px;
  background: url(../assets/map-01/dropdown.svg) center/30px no-repeat;
  -webkit-transition: -webkit-transform ease-out 0.2s;
  transition: -webkit-transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s, -webkit-transform ease-out 0.2s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.map-01__selector-select-trigger-text {
  font-weight: 500;
  font-size: 16px;
  color: #3e3e3e;
}
.map-01__selector-select.open .map-01__selector-select-trigger::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.map-01__selector-select-dropdown {
  position: relative;
  z-index: 99;
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  -webkit-transition-property: max-height, opacity;
  transition-property: max-height, opacity;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.map-01__selector-select.open .map-01__selector-select-dropdown {
  max-height: 360px;
  opacity: 1;
}
.map-01__selector-select-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 61px;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  color: #635f5e;
  border: 1px solid #df97c2;
  border-top: none;
  background-color: #fdf9fc;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.map-01__selector-select-option:hover {
  background-color: #ffffff;
}
.map-01__selector-select-option.selected {
  color: #635f5e;
}
.map-01__maps-item.hidden {
  display: none;
}
.map-01__maps-item-iframe {
  display: block;
  width: 100%;
  height: 546px;
}