.mod-ok-v-02 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: rgba(28, 28, 32, 0);
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  will-change: background-color;
  pointer-events: none;
}
.mod-ok-v-02.active {
  pointer-events: all;
  background-color: rgba(28, 28, 32, 0.5);
}
.mod-ok-v-02__body {
  position: relative;
  max-height: calc(100dvh - 30px);
  max-width: calc(100dvw - 30px);
  width: 716px;
  padding: 30px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s;
  will-change: opacity;
}
.mod-ok-v-02.active .mod-ok-v-02__body {
  opacity: 1;
}
.mod-ok-v-02__content {
  max-height: calc(100dvh - 74px);
  overflow: auto;
}
.mod-ok-v-02__title {
  margin: 0 0 8px;
  padding-right: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #1c1c20;
}
.mod-ok-v-02__description {
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #3e3e3e;
}
.mod-ok-v-02__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 18px;
  margin: 0 0 12px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .mod-ok-v-02__form {
    display: block;
  }
}
@media (max-width: 576px) {
  .mod-ok-v-02__form {
    margin-bottom: 11px;
  }
}
.mod-ok-v-02__form-input {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 9px);
          flex: 0 0 calc(50% - 9px);
  min-height: 50px;
  width: 100%;
  margin: 0;
  padding: 15px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #1c1c20;
  border: 1px solid #ebebeb;
  border-radius: 0px;
  outline: none;
  background-color: #ffffff;
  -webkit-transition-property: background-color, border-color, color;
  transition-property: background-color, border-color, color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media (max-width: 768px) {
  .mod-ok-v-02__form-input {
    min-height: 58px;
    width: 114.2857142857%;
    margin: 0 -7.1% 14px;
    padding: 14px 20px;
    font-size: 16px;
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
  }
}
.mod-ok-v-02__form-input:user-invalid {
  border-color: #ff4747;
}
.mod-ok-v-02__form-input:focus {
  border-color: #1e674e;
}
.mod-ok-v-02__form-input::-webkit-input-placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.mod-ok-v-02__form-input::-moz-placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.mod-ok-v-02__form-input:-ms-input-placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.mod-ok-v-02__form-input::-ms-input-placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.mod-ok-v-02__form-input::placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.mod-ok-v-02__form-textarea {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  min-height: 112px;
  width: 100%;
  margin: 0;
  padding: 15px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #1c1c20;
  border: 1px solid #ebebeb;
  border-radius: 0px;
  outline: none;
  background-color: #ffffff;
  -webkit-transition-property: background-color, border-color, color;
  transition-property: background-color, border-color, color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media (max-width: 768px) {
  .mod-ok-v-02__form-textarea {
    min-height: 128px;
    width: 114.2857142857%;
    margin: 0 -7.1% 14px;
    padding: 14px 20px;
    font-size: 16px;
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
  }
}
.mod-ok-v-02__form-textarea:user-invalid {
  border-color: #ff4747;
}
.mod-ok-v-02__form-textarea:focus {
  border-color: #1e674e;
}
.mod-ok-v-02__form-textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.mod-ok-v-02__form-textarea::-moz-placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.mod-ok-v-02__form-textarea:-ms-input-placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.mod-ok-v-02__form-textarea::-ms-input-placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.mod-ok-v-02__form-textarea::placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.mod-ok-v-02__form-channel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 54%;
          flex: 0 0 54%;
  width: 100%;
  padding: 0 0 5px;
  margin: 0;
  border: none;
  border-bottom: 4px solid #dfdfe0;
}
@media (max-width: 768px) {
  .mod-ok-v-02__form-channel {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    gap: 12px;
    margin: 0 0 24px;
  }
}
.mod-ok-v-02__form-channel-item {
  position: relative;
  padding: 0 12px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .mod-ok-v-02__form-channel-item {
    padding: 0 10px;
  }
}
.mod-ok-v-02__form-channel-item:first-child {
  padding-left: 0;
}
.mod-ok-v-02__form-channel-item:last-child {
  padding-right: 0;
}
.mod-ok-v-02__form-channel-item::before {
  content: "";
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgba(30, 103, 78, 0);
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}
@media (max-width: 768px) {
  .mod-ok-v-02__form-channel-item::before {
    top: calc(100% + 5px);
    height: 4px;
  }
}
.mod-ok-v-02__form-channel-item:has(.mod-ok-v-02__form-channel-item-input:checked)::before {
  background-color: #1e674e;
}
.mod-ok-v-02__form-channel-item-text {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #a1a1a4;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}
@media (max-width: 768px) {
  .mod-ok-v-02__form-channel-item-text {
    font-size: 13px;
  }
}
.mod-ok-v-02__form-channel-item:has(.mod-ok-v-02__form-channel-item-input:checked) .mod-ok-v-02__form-channel-item-text {
  color: #1c1c20;
}
.mod-ok-v-02__form-channel-item-input {
  display: none;
}
.mod-ok-v-02__form-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  margin: 0;
  padding: 0;
  border: none;
}
@media (max-width: 768px) {
  .mod-ok-v-02__form-bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.mod-ok-v-02__form-submit {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 54%;
          flex: 0 0 54%;
  margin: 0;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .mod-ok-v-02__form-submit {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.mod-ok-v-02__form-disclaimer {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 154%;
  color: #a1a1a4;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
.mod-ok-v-02__form-disclaimer a {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: inherit;
}
.mod-ok-v-02__form-disclaimer a:hover {
  color: #1e674e;
}
.mod-ok-v-02__close-button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  padding: 0;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
}
.mod-ok-v-02__close-button::before {
  content: "";
  display: block;
  width: 20px;
  aspect-ratio: 1;
  background: url(../assets/vidzhet-sv-v-01/close.svg) center/cover no-repeat;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}