.mod-ok-v-01 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: rgba(28, 28, 32, 0);
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  will-change: background-color;
  pointer-events: none;
}
.mod-ok-v-01.active {
  pointer-events: all;
  background-color: rgba(28, 28, 32, 0.5);
}
.mod-ok-v-01__body {
  position: relative;
  max-height: calc(100dvh - 30px);
  max-width: calc(100dvw - 30px);
  width: 360px;
  padding: 24px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s;
  will-change: opacity;
}
.mod-ok-v-01.active .mod-ok-v-01__body {
  opacity: 1;
}
.mod-ok-v-01__content {
  max-height: calc(100dvh - 74px);
  overflow: auto;
}
.mod-ok-v-01__title {
  margin: 0 0 8px;
  padding-right: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #1c1c20;
}
.mod-ok-v-01__description {
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #3e3e3e;
}
.mod-ok-v-01__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  margin: 0 0 12px;
  overflow: hidden;
}
@media (max-width: 576px) {
  .mod-ok-v-01__form {
    margin-bottom: 11px;
  }
}
.mod-ok-v-01__form-input {
  display: inline-block;
  min-height: 58px;
  width: 114.2857142857%;
  margin: 0 -7.1%;
  padding: 14px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #1c1c20;
  border: 1px solid #ebebeb;
  border-radius: 0px;
  outline: none;
  background-color: #ffffff;
  -webkit-transform: scale(0.87);
          transform: scale(0.87);
  -webkit-transition-property: background-color, border-color, color;
  transition-property: background-color, border-color, color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.mod-ok-v-01__form-input:user-invalid {
  border-color: #ff4747;
}
.mod-ok-v-01__form-input:focus {
  border-color: #1e674e;
}
.mod-ok-v-01__form-input::-webkit-input-placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.mod-ok-v-01__form-input::-moz-placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.mod-ok-v-01__form-input:-ms-input-placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.mod-ok-v-01__form-input::-ms-input-placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.mod-ok-v-01__form-input::placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.mod-ok-v-01__form-submit {
  margin: 4px 0 0;
}
.mod-ok-v-01__disclaimer {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 154%;
  color: #a1a1a4;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
.mod-ok-v-01__disclaimer a {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #1c1c20;
}
.mod-ok-v-01__disclaimer a:hover {
  color: #1e674e;
}
.mod-ok-v-01__close-button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  padding: 0;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
}
.mod-ok-v-01__close-button::before {
  content: "";
  display: block;
  width: 20px;
  aspect-ratio: 1;
  background: url(../assets/vidzhet-sv-v-01/close.svg) center/cover no-repeat;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}