.okno-spasibo-v-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(28, 28, 32, 0);
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  will-change: background-color;
  pointer-events: none;
}
.okno-spasibo-v-1.active {
  pointer-events: all;
  background-color: rgba(28, 28, 32, 0.5);
}
.okno-spasibo-v-1__body {
  position: relative;
  max-height: calc(100dvh - 48px);
  max-width: calc(100dvw - 30px);
  width: 360px;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s;
  will-change: opacity;
}
.okno-spasibo-v-1.active .okno-spasibo-v-1__body {
  opacity: 1;
}
.okno-spasibo-v-1__content {
  max-height: calc(100dvh - 96px);
  overflow: auto;
}
.okno-spasibo-v-1__title {
  margin: 0 0 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}
.okno-spasibo-v-1__description {
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #3e3e3e;
}
.okno-spasibo-v-1__disclaimer {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}
.okno-spasibo-v-1__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.okno-spasibo-v-1__phone-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #1c1c20;
}
.okno-spasibo-v-1__phone-link:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #1e674e;
}
.okno-spasibo-v-1__close-button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  padding: 0;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
}
.okno-spasibo-v-1__close-button::before {
  content: "";
  display: block;
  width: 20px;
  aspect-ratio: 1;
  background: url(../assets/okno-spasibo-v-1/close.svg) center/cover no-repeat;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}