.otziviki-v-01__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1500px) {
  .otziviki-v-01__list {
    gap: 20px;
  }
}
.otziviki-v-01__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 20px);
          flex: 0 0 calc(33.3333333333% - 20px);
  min-height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f5f5f5;
}
@media (max-width: 1500px) {
  .otziviki-v-01__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.3333333333% - 13.3333333333px);
            flex: 0 0 calc(33.3333333333% - 13.3333333333px);
  }
}
@media (max-width: 992px) {
  .otziviki-v-01__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    min-height: 120px;
  }
}
.otziviki-v-01__item-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: 100%;
  margin: 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 2px solid #ebebeb;
}
.otziviki-v-01__item-logo-image {
  display: block;
  max-width: 100%;
  width: 132px;
  height: auto;
}
.otziviki-v-01__item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  height: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.otziviki-v-01__item-details-count {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #3e3e3e;
}
.otziviki-v-01__item-details-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #3e3e3e;
}
.otziviki-v-01__item-details-rating::before {
  content: "";
  display: inline-block;
  width: 28px;
  aspect-ratio: 1;
  background: url(../assets/otziviki-v-01/star.svg) center/cover no-repeat;
}