.otzivy-v-01__main {
  overflow: hidden;
}
@media (max-width: 992px) {
  .otzivy-v-01__slider {
    margin: 0 -21px;
  }
}
@media (max-width: 576px) {
  .otzivy-v-01__slider {
    margin: 0 -16px;
  }
}
@media (max-width: 340px) {
  .otzivy-v-01__slider {
    margin: 0 -11px;
  }
}
.otzivy-v-01__slider .swiper {
  display: grid;
  overflow: visible;
}
@media (max-width: 992px) {
  .otzivy-v-01__slider .swiper {
    overflow: visible;
  }
}
.otzivy-v-01__slider .swiper-wrapper {
  min-width: 0;
}
.otzivy-v-01__slider .swiper-slide {
  height: 100%;
  width: 424px;
}
@media (max-width: 1200px) {
  .otzivy-v-01__slider .swiper-slide {
    width: 404px;
  }
}
@media (max-width: 992px) {
  .otzivy-v-01__slider .swiper-slide {
    width: calc((100% - 78px) / 2 - 20px);
  }
}
@media (max-width: 768px) {
  .otzivy-v-01__slider .swiper-slide {
    width: calc(100% - 60px - 16px);
  }
}
.otzivy-v-01__slider .swiper-button-prev, .otzivy-v-01__slider .swiper-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #1c1c20;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media (max-width: 992px) {
  .otzivy-v-01__slider .swiper-button-prev, .otzivy-v-01__slider .swiper-button-next {
    display: none;
  }
}
.otzivy-v-01__slider .swiper-button-prev:hover, .otzivy-v-01__slider .swiper-button-next:hover {
  background-color: #1e674e;
}
.otzivy-v-01__slider .swiper-button-prev::after, .otzivy-v-01__slider .swiper-button-next::after {
  content: "";
  display: block;
  width: 22px;
  aspect-ratio: 1;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  background: url(../assets/otzivy-v-01/arrow-left.svg) center/cover no-repeat;
}
.otzivy-v-01__slider .swiper-button-prev {
  left: 0;
}
.otzivy-v-01__slider .swiper-button-prev::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.otzivy-v-01__slider .swiper-button-next {
  right: 0;
}
.otzivy-v-01__slider .swiper-button-disabled {
  opacity: 0;
}
.otzivy-v-01__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f5f5f5;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.otzivy-v-01__slide:hover {
  background-color: #3e3e3e;
}
.otzivy-v-01__slide-source-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background-color: #3e3e3e;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.otzivy-v-01__slide-source-link::after {
  content: "";
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 32px;
  aspect-ratio: 1;
  -webkit-filter: brightness(1000%);
          filter: brightness(1000%);
  background: url(../assets/otzivy-v-01/open-in-new.svg) center/16px no-repeat;
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.otzivy-v-01__slide:hover .otzivy-v-01__slide-source-link {
  color: #3e3e3e;
  background-color: #fff;
}
.otzivy-v-01__slide:hover .otzivy-v-01__slide-source-link::after {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
.otzivy-v-01__slide-name {
  margin: 30px 0 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #1c1c20;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.otzivy-v-01__slide:hover .otzivy-v-01__slide-name {
  color: #ffffff;
}
.otzivy-v-01__slide-short {
  margin: 20px 0 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #3e3e3e;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.otzivy-v-01__slide:hover .otzivy-v-01__slide-short {
  color: #ffffff;
}
.otzivy-v-01__slide-long {
  display: none;
}
.otzivy-v-01__slide-more {
  margin: 20px 0 0;
}
.otzivy-v-01__slide-more-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: #3e3e3e;
  border: none;
  background: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.otzivy-v-01__slide:hover .otzivy-v-01__slide-more-button {
  color: #ffffff;
}
.otzivy-v-01__slide-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 40px 0 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: #a1a1a4;
}
.otzivy-v-01__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: rgba(28, 28, 32, 0);
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  will-change: background-color;
  pointer-events: none;
}
.otzivy-v-01__modal.active {
  pointer-events: all;
  background-color: rgba(28, 28, 32, 0.5);
}
.otzivy-v-01__modal-body {
  position: relative;
  max-height: calc(100dvh - 30px);
  max-width: calc(100dvw - 30px);
  width: 580px;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s;
  will-change: opacity;
}
.otzivy-v-01__modal.active .otzivy-v-01__modal-body {
  opacity: 1;
}
.otzivy-v-01__modal-content {
  max-height: calc(100dvh - 78px);
  overflow: auto;
}
.otzivy-v-01__modal-name {
  margin: 0;
  padding-right: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}
.otzivy-v-01__modal-text {
  margin: 20px 0 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #3e3e3e;
}
.otzivy-v-01__modal-date {
  margin: 20px 0 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: #a1a1a4;
}
.otzivy-v-01__modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  padding: 0;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
}
.otzivy-v-01__modal-close-button::before {
  content: "";
  display: block;
  width: 20px;
  aspect-ratio: 1;
  background: url(../assets/otzivy-v-01/close.svg) center/cover no-repeat;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}