.perv-ekr-v-01__photo {
  position: relative;
  z-index: 1;
  margin: 0;
}
@media (max-width: 1500px) {
  .perv-ekr-v-01__photo {
    margin: 0 -30px;
  }
}
@media (max-width: 1200px) {
  .perv-ekr-v-01__photo {
    margin: 0 -20px;
  }
}
@media (max-width: 576px) {
  .perv-ekr-v-01__photo {
    margin: 0 -15px;
  }
}
@media (max-width: 340px) {
  .perv-ekr-v-01__photo {
    margin: 0 -10px;
  }
}
.perv-ekr-v-01__photo-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.perv-ekr-v-01__photo-image_desktop {
  display: block;
}
@media (max-width: 768px) {
  .perv-ekr-v-01__photo-image_desktop {
    display: none;
  }
}
.perv-ekr-v-01__photo-image_mobile {
  display: none;
}
@media (max-width: 768px) {
  .perv-ekr-v-01__photo-image_mobile {
    display: block;
  }
}
.perv-ekr-v-01__photo-caption {
  position: absolute;
  top: 0;
  left: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 20px;
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #ffffff;
  background-color: #1e674e;
}
@media (max-width: 1200px) {
  .perv-ekr-v-01__photo-caption {
    left: 20px;
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .perv-ekr-v-01__photo-caption {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .perv-ekr-v-01__photo-caption {
    font-size: 20px;
  }
}
.perv-ekr-v-01__wrapper {
  position: relative;
  z-index: 10;
  margin: -32px 0 0;
}
@media (max-width: 1500px) {
  .perv-ekr-v-01__wrapper {
    margin: -32px 0 0;
  }
}
.perv-ekr-v-01__discount {
  max-width: 1162px;
  margin: 0 0 38px;
  margin-left: 30px;
  padding: 30px 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1c1c20;
}
@media (max-width: 1500px) {
  .perv-ekr-v-01__discount {
    max-width: 987px;
    margin-left: 0;
    padding: 24px 20px;
  }
}
@media (max-width: 1200px) {
  .perv-ekr-v-01__discount {
    max-width: 916px;
  }
}
@media (max-width: 992px) {
  .perv-ekr-v-01__discount {
    max-width: none;
  }
}
.perv-ekr-v-01__discount-title {
  margin: 0 0 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.perv-ekr-v-01__discount-description {
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #a1a1a4;
}
@media (max-width: 768px) {
  .perv-ekr-v-01__discount-description {
    font-size: 15px;
  }
}
.perv-ekr-v-01__discount-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin: 0 0 12px;
}
@media (max-width: 1500px) {
  .perv-ekr-v-01__discount-form {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .perv-ekr-v-01__discount-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.perv-ekr-v-01__discount-form-input, .perv-ekr-v-01__discount-form-button {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 16px);
          flex: 0 0 calc(33.3333333333% - 16px);
  max-width: calc(33.3333333333% - 16px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px;
  outline: none;
}
@media (max-width: 1500px) {
  .perv-ekr-v-01__discount-form-input, .perv-ekr-v-01__discount-form-button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.3333333333% - 13.3333333333px);
            flex: 0 0 calc(33.3333333333% - 13.3333333333px);
    max-width: calc(33.3333333333% - 13.3333333333px);
  }
}
@media (max-width: 768px) {
  .perv-ekr-v-01__discount-form-input, .perv-ekr-v-01__discount-form-button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: none;
  }
}
.perv-ekr-v-01__discount-form-input {
  min-height: 50px;
  padding: 13px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
  border: 2px solid #444444;
  background-color: #444444;
}
@media (max-width: 768px) {
  .perv-ekr-v-01__discount-form-input {
    min-height: 58px;
    width: 114.2857142857%;
    margin: 0 -7%;
    padding: 14px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 16px;
    line-height: 100%;
    -webkit-transform: scale(0.875);
            transform: scale(0.875);
  }
}
.perv-ekr-v-01__discount-form-input:focus {
  border: 2px solid #ffffff;
  background-color: #ffffff;
}
.perv-ekr-v-01__discount-form-input:user-invalid {
  border-color: #ff4747;
}
.perv-ekr-v-01__discount-form-input::-webkit-input-placeholder {
  font-weight: 400;
  color: #ebebeb;
}
.perv-ekr-v-01__discount-form-input::-moz-placeholder {
  font-weight: 400;
  color: #ebebeb;
}
.perv-ekr-v-01__discount-form-input:-ms-input-placeholder {
  font-weight: 400;
  color: #ebebeb;
}
.perv-ekr-v-01__discount-form-input::-ms-input-placeholder {
  font-weight: 400;
  color: #ebebeb;
}
.perv-ekr-v-01__discount-form-input::placeholder {
  font-weight: 400;
  color: #ebebeb;
}
.perv-ekr-v-01__discount-form-input:focus::-webkit-input-placeholder {
  color: #3e3e3e;
}
.perv-ekr-v-01__discount-form-input:focus::-moz-placeholder {
  color: #3e3e3e;
}
.perv-ekr-v-01__discount-form-input:focus:-ms-input-placeholder {
  color: #3e3e3e;
}
.perv-ekr-v-01__discount-form-input:focus::-ms-input-placeholder {
  color: #3e3e3e;
}
.perv-ekr-v-01__discount-form-input:focus::placeholder {
  color: #3e3e3e;
}
.perv-ekr-v-01__discount-form-button {
  text-transform: uppercase;
}
.perv-ekr-v-01__discount-form-button:hover {
  color: #1c1c20;
  border-color: #ffffff;
  background-color: #ffffff;
}
.perv-ekr-v-01__discount-disclaimer {
  font-weight: 400;
  font-size: 13px;
  line-height: 154%;
  letter-spacing: -0.01em;
  color: #a1a1a4;
}
.perv-ekr-v-01__discount-disclaimer a {
  color: inherit;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  -webkit-transition-property: border, color, background-color;
  transition-property: border, color, background-color;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.perv-ekr-v-01__discount-disclaimer a:hover {
  color: #ffffff;
}
.perv-ekr-v-01__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px 30px;
}
@media (max-width: 1500px) {
  .perv-ekr-v-01__advantages {
    gap: 32px 20px;
  }
}
.perv-ekr-v-01__advantages-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 22.5px);
          flex: 0 0 calc(25% - 22.5px);
}
@media (max-width: 1500px) {
  .perv-ekr-v-01__advantages-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(25% - 15px);
            flex: 0 0 calc(25% - 15px);
  }
}
@media (max-width: 992px) {
  .perv-ekr-v-01__advantages-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
  }
}
@media (max-width: 768px) {
  .perv-ekr-v-01__advantages-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.perv-ekr-v-01__advantages-card-icon {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 20px;
  padding: 0 12px;
}
@media (max-width: 768px) {
  .perv-ekr-v-01__advantages-card-icon {
    margin-bottom: 17px;
  }
}
.perv-ekr-v-01__advantages-card-icon-image {
  display: block;
  max-width: 100%;
  width: 40px;
  height: auto;
}
.perv-ekr-v-01__advantages-card-title {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #1c1c20;
}
.perv-ekr-v-01__advantages-card-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #3e3e3e;
}