.perv-ekr-v-03 {
  background-color: #003765;
}
.perv-ekr-v-03__slider .swiper-pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  padding: 0 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1800px) {
  .perv-ekr-v-03__slider .swiper-pagination {
    padding: 0 80px;
  }
}
@media (max-width: 1500px) {
  .perv-ekr-v-03__slider .swiper-pagination {
    padding: 0 30px;
  }
}
@media (max-width: 1200px) {
  .perv-ekr-v-03__slider .swiper-pagination {
    padding: 0 20px;
  }
}
@media (max-width: 992px) {
  .perv-ekr-v-03__slider .swiper-pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) {
  .perv-ekr-v-03__slider .swiper-pagination {
    padding: 0 15px;
  }
}
.perv-ekr-v-03__slider .swiper-pagination-bullet {
  display: block;
  margin: 0 !important;
  width: 50px;
  height: 5px;
  border-radius: 7px;
  opacity: 1;
  background-color: #828282;
  cursor: pointer;
}
.perv-ekr-v-03__slider .swiper-pagination-bullet-active {
  background-color: #1e674e;
}
.perv-ekr-v-03__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 992px) {
  .perv-ekr-v-03__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 105px;
  }
}
.perv-ekr-v-03__card-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 240px 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1800px) {
  .perv-ekr-v-03__card-content {
    padding: 200px 80px;
  }
}
@media (max-width: 1500px) {
  .perv-ekr-v-03__card-content {
    padding: 170px 30px;
  }
}
@media (max-width: 1200px) {
  .perv-ekr-v-03__card-content {
    padding: 150px 20px;
  }
}
@media (max-width: 992px) {
  .perv-ekr-v-03__card-content {
    padding: 100px 20px;
  }
}
@media (max-width: 992px) {
  .perv-ekr-v-03__card-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 70px 20px 40px;
  }
}
@media (max-width: 576px) {
  .perv-ekr-v-03__card-content {
    padding: 70px 15px 40px;
  }
}
.perv-ekr-v-03__card-content-title {
  margin: 0;
  max-width: 767px;
  font-weight: 500;
  font-size: 60px;
  line-height: 120%;
  color: #fff;
}
@media (max-width: 2200px) {
  .perv-ekr-v-03__card-content-title {
    max-width: 665px;
    font-size: 52px;
  }
}
@media (max-width: 1800px) {
  .perv-ekr-v-03__card-content-title {
    max-width: 588px;
    font-size: 46px;
  }
}
@media (max-width: 1500px) {
  .perv-ekr-v-03__card-content-title {
    max-width: 512px;
    font-size: 40px;
  }
}
@media (max-width: 1200px) {
  .perv-ekr-v-03__card-content-title {
    max-width: 466px;
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .perv-ekr-v-03__card-content-title {
    font-size: 32px;
  }
}
.perv-ekr-v-03__card-content-description {
  margin: 24px 0 0;
  font-weight: 400;
  font-size: 38px;
  line-height: 120%;
  color: #fff;
}
@media (max-width: 2200px) {
  .perv-ekr-v-03__card-content-description {
    font-size: 34px;
  }
}
@media (max-width: 1800px) {
  .perv-ekr-v-03__card-content-description {
    margin-top: 20px;
    font-size: 30px;
  }
}
@media (max-width: 1500px) {
  .perv-ekr-v-03__card-content-description {
    font-size: 26px;
  }
}
@media (max-width: 1200px) {
  .perv-ekr-v-03__card-content-description {
    margin-top: 20px;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .perv-ekr-v-03__card-content-description {
    font-size: 22px;
  }
}
.perv-ekr-v-03__card-content-contact {
  margin: 46px 0 0;
}
@media (max-width: 1500px) {
  .perv-ekr-v-03__card-content-contact {
    margin-top: 40px;
  }
}
.perv-ekr-v-03__card-content-contact-button {
  min-width: 277px;
  text-transform: uppercase;
}
.perv-ekr-v-03__card-figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 992px) {
  .perv-ekr-v-03__card-figure {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.perv-ekr-v-03__card-figure-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}