.preimuschestva-v-01 {
  overflow: hidden;
}
.preimuschestva-v-01__wrapper .swiper {
  display: grid;
}
@media (max-width: 1500px) {
  .preimuschestva-v-01__wrapper .swiper {
    overflow: visible;
  }
}
.preimuschestva-v-01__wrapper .swiper-wrapper {
  min-width: 0;
}
.preimuschestva-v-01__wrapper .swiper-slide {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.preimuschestva-v-01__wrapper .swiper-button-prev, .preimuschestva-v-01__wrapper .swiper-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #1c1c20;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  display: none;
}
.preimuschestva-v-01__wrapper .swiper-button-prev:hover, .preimuschestva-v-01__wrapper .swiper-button-next:hover {
  background-color: #1e674e;
}
.preimuschestva-v-01__wrapper .swiper-button-prev::after, .preimuschestva-v-01__wrapper .swiper-button-next::after {
  content: "";
  display: block;
  width: 22px;
  aspect-ratio: 1;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  background: url(../assets/etapy-v-01/arrow-left.svg) center/cover no-repeat;
}
.preimuschestva-v-01__wrapper .swiper-button-prev {
  left: 0;
}
.preimuschestva-v-01__wrapper .swiper-button-prev::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.preimuschestva-v-01__wrapper .swiper-button-next {
  right: 0;
}
.preimuschestva-v-01__wrapper .swiper-button-disabled {
  opacity: 0;
}
.preimuschestva-v-01__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 30px 20px 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f5f5f5;
}
@media (max-width: 1200px) {
  .preimuschestva-v-01__slide {
    max-width: 270px;
    width: auto;
  }
}
@media (max-width: 992px) {
  .preimuschestva-v-01__slide {
    max-width: 309px;
  }
}
@media (max-width: 768px) {
  .preimuschestva-v-01__slide {
    max-width: 299px;
  }
}
.preimuschestva-v-01__slide-icon {
  margin: 0;
}
.preimuschestva-v-01__slide-icon-image {
  display: block;
  max-width: 100%;
  width: 75px;
  height: auto;
}
.preimuschestva-v-01__slide-title {
  margin: 30px 0 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #1c1c20;
}
.preimuschestva-v-01__slide-description {
  margin: 16px 0 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #3e3e3e;
}
.preimuschestva-v-01__callback {
  margin: 20px 0 0;
}
.preimuschestva-v-01__callback-button {
  max-width: calc(25% - 22.5px);
  width: 100%;
  font-weight: 500;
}
@media (max-width: 1500px) {
  .preimuschestva-v-01__callback-button {
    max-width: calc(25% - 15px);
  }
}
@media (max-width: 1200px) {
  .preimuschestva-v-01__callback-button {
    max-width: 270px;
  }
}
@media (max-width: 992px) {
  .preimuschestva-v-01__callback-button {
    max-width: 309px;
  }
}
@media (max-width: 768px) {
  .preimuschestva-v-01__callback-button {
    max-width: 299px;
  }
}
.preimuschestva-v-01__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: rgba(28, 28, 32, 0);
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  will-change: background-color;
  pointer-events: none;
}
.preimuschestva-v-01__modal.active {
  pointer-events: all;
  background-color: rgba(28, 28, 32, 0.5);
}
.preimuschestva-v-01__modal-body {
  position: relative;
  max-height: calc(100dvh - 30px);
  max-width: calc(100dvw - 30px);
  width: 360px;
  padding: 24px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s;
  will-change: opacity;
}
.preimuschestva-v-01__modal.active .preimuschestva-v-01__modal-body {
  opacity: 1;
}
.preimuschestva-v-01__modal-content {
  max-height: calc(100dvh - 74px);
  overflow: auto;
}
.preimuschestva-v-01__modal-title {
  margin: 0 0 8px;
  padding-right: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #1c1c20;
}
.preimuschestva-v-01__modal-description {
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #3e3e3e;
}
.preimuschestva-v-01__modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  margin: 0 0 12px;
}
@media (max-width: 576px) {
  .preimuschestva-v-01__modal-form {
    margin-bottom: 11px;
  }
}
.preimuschestva-v-01__modal-form-input {
  display: inline-block;
  min-height: 58px;
  width: 114.2857142857%;
  margin: 0 -7%;
  padding: 14px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #1c1c20;
  border: 1px solid #ebebeb;
  border-radius: 0px;
  outline: none;
  background-color: #ffffff;
  -webkit-transform: scale(0.875);
          transform: scale(0.875);
  -webkit-transition-property: background-color, border-color, color;
  transition-property: background-color, border-color, color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.preimuschestva-v-01__modal-form-input:user-invalid {
  color: #ff4747;
  border-color: #ff4747;
}
.preimuschestva-v-01__modal-form-input::-webkit-input-placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.preimuschestva-v-01__modal-form-input::-moz-placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.preimuschestva-v-01__modal-form-input:-ms-input-placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.preimuschestva-v-01__modal-form-input::-ms-input-placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.preimuschestva-v-01__modal-form-input::placeholder {
  font-weight: 400;
  color: #a1a1a4;
}
.preimuschestva-v-01__modal-form-submit {
  margin: 4px 0 0;
}
.preimuschestva-v-01__modal-disclaimer {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 154%;
  color: #a1a1a4;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
.preimuschestva-v-01__modal-disclaimer a {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: inherit;
}
.preimuschestva-v-01__modal-disclaimer a:hover {
  color: #1e674e;
}
.preimuschestva-v-01__modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  padding: 0;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
}
.preimuschestva-v-01__modal-close-button::before {
  content: "";
  display: block;
  width: 20px;
  aspect-ratio: 1;
  background: url(../assets/vidzhet-sv-v-01/close.svg) center/cover no-repeat;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}