.proekty-v-01__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: 0;
}
@media (max-width: 1500px) {
  .proekty-v-01__cards {
    gap: 20px;
  }
}
.proekty-v-01__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  background-color: #f5f5f5;
  padding-bottom: 40px;
}
@media (max-width: 1200px) {
  .proekty-v-01__card {
    padding-bottom: 32px;
  }
}
@media (max-width: 992px) {
  .proekty-v-01__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 0px;
  }
}
.proekty-v-01__card.hidden {
  display: none !important;
}
.proekty-v-01__card-sliders {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 708px;
          flex: 0 0 708px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (max-width: 1500px) {
  .proekty-v-01__card-sliders {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 524px;
            flex: 0 0 524px;
  }
}
@media (max-width: 1200px) {
  .proekty-v-01__card-sliders {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 438px;
            flex: 0 0 438px;
  }
}
@media (max-width: 992px) {
  .proekty-v-01__card-sliders {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.proekty-v-01__card-sliders-main {
  position: relative;
  display: grid;
}
.proekty-v-01__card-sliders-main-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.proekty-v-01__card-sliders-main-controls-prev, .proekty-v-01__card-sliders-main-controls-next {
  position: absolute;
  top: 50%;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  aspect-ratio: 1/1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: #1c1c20;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  -webkit-transition: background-color ease-out 0.2s;
  transition: background-color ease-out 0.2s;
  cursor: pointer;
}
.proekty-v-01__card-sliders-main-controls-prev:hover, .proekty-v-01__card-sliders-main-controls-next:hover {
  background-color: #1e674e;
}
.proekty-v-01__card-sliders-main-controls-prev::after, .proekty-v-01__card-sliders-main-controls-next::after {
  content: "";
  display: block;
  width: 22px;
  aspect-ratio: 1/1;
  background: url(../assets/proekty-v-01/arrow-left.svg) center/cover no-repeat;
}
.proekty-v-01__card-sliders-main-controls-prev {
  left: 0;
}
.proekty-v-01__card-sliders-main-controls-next {
  right: 0;
}
.proekty-v-01__card-sliders-main-controls-next::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.proekty-v-01__card-sliders-thumbs-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.proekty-v-01__card-sliders-thumbs .swiper-slide {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.proekty-v-01__card-sliders-thumbs .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  border: 4px solid #1e674e;
  opacity: 0;
  -webkit-transition: opacity ease-out 0.1s;
  transition: opacity ease-out 0.1s;
}
.proekty-v-01__card-sliders-thumbs .swiper-slide-thumb-active::before {
  opacity: 1;
}
.proekty-v-01__card-sliders-main, .proekty-v-01__card-sliders-thumbs {
  display: grid;
}
.proekty-v-01__card-sliders-main .swiper, .proekty-v-01__card-sliders-thumbs .swiper {
  max-width: 100%;
}
.proekty-v-01__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  padding: 40px;
  padding-right: 50px;
  padding-bottom: 0px;
}
@media (max-width: 1500px) {
  .proekty-v-01__card-content {
    padding: 32px;
    padding-right: 40px;
    padding-bottom: 0px;
  }
}
@media (max-width: 992px) {
  .proekty-v-01__card-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 15px;
    padding-top: 20px;
  }
}
.proekty-v-01__card-content-title {
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  color: #1c1c20;
}
@media (max-width: 1500px) {
  .proekty-v-01__card-content-title {
    margin-bottom: 24px;
    font-size: 24px;
  }
}
@media (max-width: 1200px) {
  .proekty-v-01__card-content-title {
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  .proekty-v-01__card-content-title {
    font-size: 20px;
  }
}
.proekty-v-01__card-content-info {
  margin: 20px 0 0;
}
@media (max-width: 1500px) {
  .proekty-v-01__card-content-info {
    margin-top: 16px;
  }
}
.proekty-v-01__card-content-info-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: #a1a1a4;
}
.proekty-v-01__card-content-info-text {
  margin: 3px 0 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #1c1c20;
}
.proekty-v-01__card-content-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 16px;
  margin: 32px 0 0;
}
@media (max-width: 992px) {
  .proekty-v-01__card-content-contact {
    margin-top: 28px;
  }
}
.proekty-v-01__card-content-contact-link {
  color: #ffffff;
  border-color: #1e674e;
  background-color: #1e674e;
}
.proekty-v-01__card-content-contact-link:hover {
  border-color: #1c1c20;
  background-color: #1c1c20;
}
.proekty-v-01__card-content-contact-button {
  color: #ffffff;
  border-color: #1c1c20;
  background-color: #1c1c20;
}
.proekty-v-01__card-content-contact-button:hover {
  border-color: #1e674e;
  background-color: #1e674e;
}
@media (max-width: 992px) {
  .proekty-v-01__card-content-contact-link, .proekty-v-01__card-content-contact-button {
    min-height: 54px;
    padding: 15px 16px;
  }
}
.proekty-v-01__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0 0;
}
@media (max-width: 1200px) {
  .proekty-v-01__more {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  .proekty-v-01__more {
    margin-top: 30px;
  }
}
.proekty-v-01__more-button {
  padding: 16px 18px;
  color: #ffffff;
  border-color: #1e674e;
  background-color: #1e674e;
}
@media (max-width: 992px) {
  .proekty-v-01__more-button {
    min-height: 54px;
    padding: 15px 16px;
  }
}
.proekty-v-01__more-button:hover {
  border-color: #1c1c20;
  background-color: #1c1c20;
}
.proekty-v-01__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  will-change: background-color;
  pointer-events: none;
}
.proekty-v-01__modal.active {
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.5);
}
.proekty-v-01__modal-body {
  position: relative;
  max-height: calc(100dvh - 48px);
  max-width: calc(100dvw - 30px);
  width: 484px;
  padding: 43px 48px 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #fafafa;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s;
  will-change: opacity;
}
@media (max-width: 768px) {
  .proekty-v-01__modal-body {
    padding: 36px 24px;
  }
}
.proekty-v-01__modal.active .proekty-v-01__modal-body {
  opacity: 1;
}
.proekty-v-01__modal-content {
  max-height: calc(100dvh - 68px);
  overflow: auto;
}
@media (max-width: 768px) {
  .proekty-v-01__modal-content {
    max-height: calc(100dvh - 88px);
  }
}
.proekty-v-01__modal-title {
  margin: 0 0 13px;
  font-weight: 500;
  font-size: 38px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
}
@media (max-width: 576px) {
  .proekty-v-01__modal-title {
    margin-bottom: 11px;
    font-size: 32px;
  }
}
.proekty-v-01__modal-description {
  margin: 0 0 45px;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #87878e;
}
@media (max-width: 576px) {
  .proekty-v-01__modal-description {
    margin-bottom: 30px;
  }
}
.proekty-v-01__modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin: 0 0 19px;
}
@media (max-width: 576px) {
  .proekty-v-01__modal-form {
    margin-bottom: 11px;
  }
}
.proekty-v-01__modal-form-input {
  display: inline-block;
  min-height: 50px;
  width: 100%;
  padding: 13px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #1c1c20;
  outline: none;
  border: 1px solid #444444;
  background-color: #ffffff;
}
.proekty-v-01__modal-form-input:user-invalid {
  border-color: #ff4747;
}
.proekty-v-01__modal-form-input::-webkit-input-placeholder {
  font-weight: 400;
  color: #3e3e3e;
}
.proekty-v-01__modal-form-input::-moz-placeholder {
  font-weight: 400;
  color: #3e3e3e;
}
.proekty-v-01__modal-form-input:-ms-input-placeholder {
  font-weight: 400;
  color: #3e3e3e;
}
.proekty-v-01__modal-form-input::-ms-input-placeholder {
  font-weight: 400;
  color: #3e3e3e;
}
.proekty-v-01__modal-form-input::placeholder {
  font-weight: 400;
  color: #3e3e3e;
}
.proekty-v-01__modal-form-input:focus::-webkit-input-placeholder {
  color: #3e3e3e;
}
.proekty-v-01__modal-form-input:focus::-moz-placeholder {
  color: #3e3e3e;
}
.proekty-v-01__modal-form-input:focus:-ms-input-placeholder {
  color: #3e3e3e;
}
.proekty-v-01__modal-form-input:focus::-ms-input-placeholder {
  color: #3e3e3e;
}
.proekty-v-01__modal-form-input:focus::placeholder {
  color: #3e3e3e;
}
.proekty-v-01__modal-form-submit {
  margin: 24px 0 0;
  color: #ffffff;
  border-color: #1e674e;
  background-color: #1e674e;
}
@media (max-width: 576px) {
  .proekty-v-01__modal-form-submit {
    margin: 0;
  }
}
.proekty-v-01__modal-disclaimer {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.01em;
  color: #b9b9b9;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
.proekty-v-01__modal-disclaimer a {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #1c1c20;
}
.proekty-v-01__modal-disclaimer a:hover {
  color: #1e674e;
}
.proekty-v-01__modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 54px;
  width: 54px;
  padding: 0;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
}
.proekty-v-01__modal-close-button::before {
  content: "";
  display: block;
  width: 28px;
  aspect-ratio: 1/1;
  background: url(../assets/proekty-v-01/close.svg) center/cover no-repeat;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}