.stages-03 {
  background-color: #1e1e1e;
}
.stages-03__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.stages-03__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 22.5px);
          flex: 0 0 calc(25% - 22.5px);
}
@media (max-width: 1200px) {
  .stages-03__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 15px);
            flex: 0 0 calc(50% - 15px);
  }
}
@media (max-width: 768px) {
  .stages-03__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.stages-03__card-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
.stages-03__card-counter::after {
  content: "";
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 1px;
  width: 100%;
  background-color: #444444;
}
.stages-03__card-counter-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-width: 40px;
  min-height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  background-color: #444444;
}
.stages-03__card-title {
  margin: 24px 0 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #fff;
}
.stages-03__card-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin: 8px 0 0;
  padding: 0;
  list-style-type: none;
}
.stages-03__card-options-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding-left: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
}
.stages-03__card-options-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  display: block;
  width: 8px;
  aspect-ratio: 1;
  border-radius: 8px;
  background-color: #a2031a;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}