.video-v-01__video {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.video-v-01__video-frame {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  display: none;
}
.video-v-01__video-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: inherit;
      align-content: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.video-v-01__video-cover-image {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-filter ease-out 0.2s;
  transition: -webkit-filter ease-out 0.2s;
  transition: filter ease-out 0.2s;
  transition: filter ease-out 0.2s, -webkit-filter ease-out 0.2s;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}
.video-v-01__video-cover:hover .video-v-01__video-cover-image {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}
.video-v-01__video-cover-button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100px;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 100px;
  background: url(../assets/video-v-01/play.svg) center/cover no-repeat;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  cursor: pointer;
}
@media (max-width: 1500px) {
  .video-v-01__video-cover-button {
    width: 80px;
  }
}
@media (max-width: 992px) {
  .video-v-01__video-cover-button {
    width: 60px;
  }
}
@media (max-width: 768px) {
  .video-v-01__video-cover-button {
    width: 50px;
  }
}
.video-v-01__video.active .video-v-01__video-frame {
  display: block;
}
.video-v-01__video.active .video-v-01__video-cover {
  display: none;
}