.video-02 {
  background-color: #1e1e1e;
}
.video-02__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
.video-02__review {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 18px);
          flex: 0 0 calc(25% - 18px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  border-radius: 16px;
}
@media (max-width: 1500px) {
  .video-02__review {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.3333333333% - 16px);
            flex: 0 0 calc(33.3333333333% - 16px);
  }
}
@media (max-width: 1200px) {
  .video-02__review {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 12px);
            flex: 0 0 calc(50% - 12px);
  }
}
@media (max-width: 768px) {
  .video-02__review {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.video-02__review-preview {
  position: relative;
  z-index: 20;
}
.video-02__review.active .video-02__review-preview {
  opacity: 0;
  pointer-events: none;
}
.video-02__review-cover {
  display: block;
  margin: 0;
}
.video-02__review-cover-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.video-02__review-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24px;
}
.video-02__review-info-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}
.video-02__review-info-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2px;
  margin: 8px 0 0;
}
.video-02__review-info-tags-item {
  padding: 4px 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  background-color: #444444;
}
.video-02__review-play {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.video-02__review-play-button {
  display: inline-block;
  width: 50px;
  aspect-ratio: 1;
  border: none;
  border-radius: 30px;
  background: url(../assets/video-02/play-button.svg) center/cover no-repeat;
  background-color: transparent;
  -webkit-transition: -webkit-transform ease-in-out 0.25s;
  transition: -webkit-transform ease-in-out 0.25s;
  transition: transform ease-in-out 0.25s;
  transition: transform ease-in-out 0.25s, -webkit-transform ease-in-out 0.25s;
  cursor: pointer;
}
.video-02__review-play-button:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
.video-02__review-video {
  position: absolute;
  inset: 0;
  z-index: 10;
  opacity: 0;
}
.video-02__review-video iframe {
  width: 100%;
  height: 100%;
}
.video-02__review.active .video-02__review-video {
  opacity: 1;
}
.video-02__more {
  margin: 24px 0 0;
}
.video-02__more-button {
  display: inline-block;
  min-height: 50px;
  width: 100%;
  padding: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  border: 1px solid #949494;
  border-radius: 8px;
  background-color: #303030;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.video-02__more-button:hover {
  color: #ffffff;
  border-color: #949494;
  background-color: #242424;
}
.video-02__more-button:disabled {
  color: #b3b3b3;
  border-color: #444444;
  background-color: #383838;
}