@mixin desktopxxl {
  @media (max-width: 2200px ) {
    @content;
  }
}

@mixin desktopxl {
  @media (max-width: 1800px) {
    @content;
  }
}

@mixin desktoplg {
  @media (max-width: 1500px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin mobilesm {
  @media (max-width: 340px) {
    @content;
  }
}
