@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import './mixins';

html {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #1e1e1e;
  background-color: #ffffff;

  &.hidden {
    @include laptop {
      overflow: hidden;
    }
  }
}

a,
button,
input,
textarea {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}

.container {
  display: block;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;

  @include desktop {
    padding: 0 20px;
  }

  @include mobile {
    padding: 0 15px;
  }

  @include mobilesm {
    padding: 0 10px;
  }
}

.button {
  display: inline-block;
  min-height: 50px;
  padding: 13px 28px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
  color: #f0f6ff;
  border: 2px solid #166ff5;
  background-color: #166ff5;
  transition-property: background-color, border-color, color;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  cursor: pointer;

  &:hover {
    border-color: #0a5ed7;
    background-color: #0a5ed7;
  }

  
  &:disabled {
    color: #b3b3b3;
    border-color: #d9d9d9;
    background-color: #d9d9d9;
  }
}
