@import './variables';
@import './mixins';

.catalog-v-03 {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0;

    @include desktoplg {
      gap: 32px;
    }

    @include laptop {
      display: block;
    }

    &-sidebar {
      flex: 0 0 345px;

      @include desktoplg {
        flex: 0 0 270px;
      }
    }

    &-main {
      flex: 1 1 auto;
      max-width: calc(100% - 345px - 40px);

      @include desktoplg {
        max-width: calc(100% - 270px - 32px);
      }

      @include laptop {
        max-width: 100%;
      }
    }
  }

  &__filter {
    @include laptop {
      position: fixed;
      inset: 0;
      z-index: 9999;
      display: flex;
      justify-content: flex-end;
      overflow: hidden;
      pointer-events: none;
    }

    &.active {
      @include laptop {
        pointer-events: all;
      }
    }

    &-wrapper {
      @include laptop {
        max-width: 360px;
        max-height: 100dvh;
        overflow: auto;
        transform: translateX(100dvw);
        transition: transform ease-out 0.2s;
      }

      @include mobile {
        max-width: 100dvw;
        width: 100%;
      }
    }

    &.active &-wrapper {
      @include laptop {
        transform: translateX(0);
      }
    }

    &-content {
      padding: 24px;
      border: 1px solid #ebebeb;
      background-color: #ffffff;

      @include laptop {
        position: relative;
        padding-top: 0;
      }
    }

    &-heading {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 24px;

      @include laptop {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        padding: 24px;
        margin: 0 -24px;
        background-color: #ffffff;
      }
    }

    &-close {
      display: none;
      flex: 0 0 auto;

      @include laptop {
        display: block;
      }

      &-button {
        display: block;
        width: 24px;
        height: 24px;
        padding: 0;
        border: none;
        background: url(../assets/catalog-v-03/close.svg) center / cover no-repeat;
        cursor: pointer;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      color: #000;
    }

    &-main {
      margin: 24px 0;

      @include laptop {
        margin-top: 0;
      }
    }

    &-actions {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      &-show,
      &-reset {
        flex: 1 1 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        text-transform: uppercase;
      }

      &-reset {
        color: #7d7d7d;
        border: none;
      }
    }
  }

  &__accordion {
    padding: 24px 0;
    border: 1px solid #ebebeb;
    border-left: none;
    border-right: none;

    &:first-child {
      padding-top: 0;
      border-top: none;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    &-toggler {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #1a1a1a;
      opacity: 0.5;
      transition: opacity ease-out 0.2s;
      cursor: pointer;

      &::after {
        content: '';
        display: block;
        flex: 0 0 auto;
        width: 24px;
        height: 24px;
        background: url(../assets/catalog-v-03/chevron-up.svg) center / cover no-repeat;
        transform: rotate(180deg);
        transition: transform ease-out 0.2s;
      }
    }

    &.active &-toggler {
      opacity: 1;

      &::after {
        transform: rotate(0deg);
      }
    }

    &-panel {
      max-height: 0;
      overflow: hidden;
      transition:
        max-height ease-out 0.2s,
        overflow linear 0.2s;

      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 16px;
      }
    }

    &.active &-panel {
      overflow: visible;
    }
  }

  &__checkboxset {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-search {
      &-input {
        display: block;
        width: 100%;
        padding: 10px 16px 10px 48px;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        color: #7d7d7d;
        border: 1px solid #ebebeb;
        border-radius: 4px;
        background: url(../assets/catalog-v-03/search.svg) left 16px center / 24px no-repeat;
        background-color: #fff;
        transition: border-color ease-in 0.2s;

        &:focus {
          border-color: #1e674e;
          outline: none;
        }

        &::placeholder {
          color: #7d7d7d;
        }
      }
    }

    &-set {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    & *.hidden {
      display: none !important;
    }

    &__no-results {
      margin-top: 8px;
      font-size: 14px;
      color: #999;
      text-align: center;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;

    &-input {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }

    &-label {
      position: relative;
      display: flex;
      align-items: flex-start;
      gap: 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #7d7d7d;
      user-select: none;
      cursor: pointer;

      &::before {
        content: '';
        display: block;
        flex: 0 0 auto;
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        border: 1px solid #7d7d7d;
        background-color: #ffffff;
        transition: all ease-out 0.2s;
      }
    }

    &-input:checked + &-label {
      &::before {
        background-image: url(../assets/catalog-v-03/check.svg);
        background-position: center;
        background-size: 18px;
        background-color: #1e674e;
        border-color: #1e674e;
      }
    }

    &:hover &-label::before {
      border-color: #1e674e;
    }

    &-input:disabled + &-label {
      color: #999;
      cursor: not-allowed;

      &::before {
        border-color: #d0d0d0;
        background-color: #f0f0f0;
      }
    }
  }

  &__double-range {
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;

    &-inputs {
      display: flex;
      gap: 12px;
      margin: 0 -8px;
      margin-bottom: 12px;
    }

    &-input-group {
      display: flex;
      align-items: center;
      flex: 0 0 calc(100% / 2 - 12px / 2);
      gap: 8px;
    }

    &-label {
      font-size: 14px;
      color: #7d7d7d;
    }

    &-input {
      display: block;
      width: 100%;
      padding: 10px 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      color: #7d7d7d;
      border: 1px solid #d0d0d0;
      transition: border-color ease-out 0.2s;

      &:focus {
        border-color: #1e674e;
        outline: none;
      }
    }

    &-sliders {
      position: relative;
      height: 18px;
      display: flex;
      align-items: center;
      user-select: none;
      cursor: default;
    }

    &-track {
      position: absolute;
      left: -8px;
      right: -8px;
      top: 50%;
      height: 8px;
      border-radius: 4px;
      background-color: #e0e0e0;
      transform: translateY(-50%);
      pointer-events: none;
    }

    &-track-fill {
      position: absolute;
      inset: 0;
      border-radius: 16px;
      background-color: #1e674e;
      pointer-events: none;
    }

    &-thumb {
      position: absolute;
      top: 50%;
      z-index: 10;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border-radius: 50%;
      border: 4px solid #1e674e;
      background-color: #ffffff;
      transition: transform ease-out 0.2s;
      transform: translate(-50%, -50%);
      cursor: grab;

      &:active {
        cursor: grabbing;
      }

      &--min {
        z-index: 11;
      }
      &--max {
        z-index: 10;
      }
    }

    &-indicators {
      display: flex;
      justify-content: space-between;
      margin: 4px -2px 0;
      font-weight: 400;
      font-size: 10px;
      line-height: 120%;
      text-align: center;
      color: #7d7d7d;
    }
  }

  &__year-range {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    position: relative;

    &-item {
      position: relative;
      flex: 0 0 calc(100% / 2 - 12px / 2);
    }

    &-trigger {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      width: 100%;
      padding: 8px 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      color: #7d7d7d;
      text-align: left;
      border: 1px solid #d0d0d0;
      border-radius: 4px;
      background-color: #ffffff;
      transition: border-color 0.2s;
      cursor: pointer;

      &:hover {
        border-color: #1e674e;
      }
      &:focus {
        border-color: #1e674e;
        outline: none;
      }

      &::after {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background: url(../assets/catalog-v-03/calendar.svg) center / cover no-repeat;
        pointer-events: none;
      }
    }

    &-dropdown {
      position: absolute;
      top: calc(100% + 4px);
      left: 0;
      z-index: 1000;
      min-width: 100%;
      max-height: 200px;
      padding: 4px 0;
      overflow-y: auto;
      border: 1px solid #d0d0d0;
      border-radius: 4px;
      background-color: #ffffff;
      display: none;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #cccccc;
      }
    }

    &-option {
      display: block;
      padding: 8px 16px;
      box-sizing: border-box;
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      color: #7d7d7d;
      transition: background-color ease-out 0.2s;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }

      &.selected {
        color: #1e674e;
        font-weight: 500;
        background-color: #e8f0ee;
      }

      &.disabled {
        display: none;
      }
    }

    &-item.open &-trigger {
      border-color: #1e674e;
    }
  }

  &__color {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-family: sans-serif;

    &-item {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      padding: 10px 16px;
      border: 1px solid #ebebeb;
      user-select: none;
      position: relative;
      cursor: pointer;

      &-input {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        border: 0;
        opacity: 0;
      }

      &-circle {
        display: block;
        flex: 0 0 auto;
        width: 12px;
        height: 12px;
        box-sizing: border-box;
        border: 1px solid #ebebeb;
        border-radius: 24px;
        position: relative;
      }

      &-name {
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        color: #7d7d7d;
      }

      // Когда чекбокс отмечен
      &:has(&-input:checked)::before {
        content: '';
        display: block;
        flex: 0 0 auto;
        width: 16px;
        height: 16px;
        background: url(../assets/catalog-v-03/check-green.svg) center / cover no-repeat;
      }
    }
  }

  &__bodytype {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-family: sans-serif;

    &-item {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      padding: 10px 14px;
      border: 1px solid #ebebeb;
      user-select: none;
      position: relative;
      cursor: pointer;

      &-input {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        border: 0;
        opacity: 0;
      }

      &-figure {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          display: block;
          max-width: 100%;
          width: 60px;
          height: auto;
        }
      }

      &:has(&-input:checked)::before {
        content: '';
        display: block;
        flex: 0 0 auto;
        width: 16px;
        height: 16px;
        background: url(../assets/catalog-v-03/check-green.svg) center / cover no-repeat;
        margin-right: 4px;
      }

      &:hover {
        border-color: #999;
      }

      &-input:focus-visible + &-figure {
        outline: 2px solid #1e674e;
        outline-offset: 2px;
      }
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0 0 24px;

    &-total {
      flex: 1 1 auto;
      font-weight: 600;
      font-size: 20px;
      line-height: 100%;
      color: #000;

      @include mobile {
        flex: 1 1 100%;
      }
    }

    &-actions {
      display: flex;
      align-items: center;
      flex: 0 0 auto;
      gap: 8px;

      @include laptop {
        display: flex;
      }

      &-sortings {
        flex: 0 1 auto;
      }

      &-filter {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        min-height: 40px;
        padding: 8px 32px;
        border: none;
        background-color: #ebebeb;
        cursor: pointer;
        display: none;

        @include laptop {
          display: flex;
        }

        &::before {
          content: '';
          display: block;
          flex: 0 0 auto;
          width: 24px;
          height: 24px;
          background: url(../assets/catalog-v-03/filter.svg) center / cover no-repeat;
          cursor: pointer;
        }
      }
    }
  }

  &__sort {
    position: relative;
    display: block;

    &-trigger {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      min-height: 40px;
      min-width: 320px;
      padding: 9px 16px;
      box-sizing: border-box;
      border: 1px solid #ebebeb;
      background-color: #ffffff;
      cursor: pointer;

      @include tablet {
        min-width: 40px;
        padding: 0;
        background: url(../assets/catalog-v-03/arrows-up-down.svg) center / 24px no-repeat;
      }

      &-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        color: #1a1a1a;
        white-space: nowrap;

        @include tablet {
          display: none;
        }
      }

      &-arrow {
        display: block;
        flex: 0 0 auto;
        width: 24px;
        height: 24px;
        background: url(../assets/catalog-v-03/chevron-up.svg) center / cover no-repeat;
        transform: rotate(180deg);
        transition: transform ease-out 0.2s;

        @include tablet {
          display: none;
        }
      }
    }

    &.open &-trigger-arrow {
      transform: rotate(0deg);
    }

    &-dropdown {
      position: absolute;
      top: calc(100% + 4px);
      left: 0;
      right: 0;
      z-index: 1000;
      display: block;
      padding: 4px;
      box-sizing: border-box;
      border: 1px solid #ebebeb;
      background-color: #ffffff;

      @include tablet {
        left: 50%;
        right: auto;
        min-width: 240px;
        transform: translateX(-50%);
      }

      @include mobile {
        left: 0;
        min-width: calc(100dvw - 30px);
        transform: none;
      }
    }

    &-option {
      padding: 11px 8px;
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      color: #1a1a1a;
      transition: background-color ease-out 0.2s;
      cursor: pointer;

      &:hover {
        background-color: #f5f5f5;
      }

      &--active {
        font-weight: 600;
        color: #1e674e;
        background-color: #e8f0ee;
      }
    }

    &.open &-dropdown {
      display: block;
    }
  }

  &__catalog {
    max-width: 100%;

    &-wrapper {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      gap: 24px 20px;
    }

    &-item {
      position: relative;
      flex: 0 0 calc(100% / 3 - 20px / 3 * 2);
      max-width: calc(100% / 3 - 20px / 3 * 2);
      box-sizing: border-box;
      border: 1px solid #ebebeb;
      background-color: #ffffff;
      transition-property: background-color;
      transition-timing-function: ease-out;
      transition-duration: 0.32s;

      &:hover {
        background-color: #1a1a1a;
      }

      @include desktop {
        flex: 0 0 calc(100% / 2 - 20px / 2);
        max-width: calc(100% / 2 - 20px / 2);
      }

      @include mobile {
        flex: 1 1 100%;
        max-width: 100%;
      }

      &-main,
      &-thumbs {
        & .swiper-slide {
          overflow: hidden;

          & > img {
            display: block;
            max-width: 100%;
            height: auto;
            transform: scale(1.01);
          }
        }
      }

      &-thumbs {
        & .swiper-slide {
          filter: brightness(0.75);
          transition: filter ease-out 0.2s;

          &.swiper-slide-thumb-active {
            filter: brightness(1);
          }
        }
      }

      &-content {
        padding: 16px;

        & * {
          transition-property: color, background-color;
          transition-timing-function: ease-out;
          transition-duration: 0.32s;
        }

        &-title {
          margin: 0;
          font-weight: 500;
          font-size: 24px;
          line-height: 140%;
          color: #1a1a1a;
        }

        &-tags {
          display: flex;
          flex-wrap: wrap;
          gap: 4px;
          margin: 12px 0 0;

          &-item {
            padding: 4px 12px;
            font-weight: 400;
            font-size: 12px;
            line-height: 125%;
            color: #7d7d7d;
            background-color: #f5f5f5;
          }
        }

        &-price {
          margin: 12px 0 0;
          font-weight: 500;
          font-size: 28px;
          line-height: 140%;
          text-transform: uppercase;
          color: #1a1a1a;
        }

        &-info {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 8px 16px;
          margin: 6px 0 0;

          &-payment,
          &-views {
            display: block;
            flex: 0 1 auto;
            box-sizing: border-box;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #7d7d7d;
          }

          &-payment {
            padding-right: 22px;
            background: url(../assets/catalog-v-03/info.svg) top 2px right / 18px no-repeat;
          }

          &-views {
            padding-left: 22px;
            background: url(../assets/catalog-v-03/eye.svg) top 2px left / 18px no-repeat;
          }
        }

        &-favourites {
          &-button {
            position: absolute;
            top: 16px;
            right: 16px;
            z-index: 10;
            display: block;
            width: 24px;
            height: 24px;
            padding: 0;
            border: none;
            background: url(../assets/catalog-v-03/heart.svg) center / 20px no-repeat;
            background-color: transparent;
            transition-property: background-image, transform;
            transition-timing-function: ease-out;
            transition-duration: 0.2s;
            will-change: background-image, transform;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
            }

            &.active {
              background-image: url(../assets/catalog-v-03/heart-active.svg);
            }
          }
        }
      }

      &:hover &-content {
        &-title,
        &-price {
          color: #ffffff;
        }

        &-info {
          &-payment,
          &-views {
            color: #b6b6b6;
          }
        }
        &-tags {
          &-item {
            color: #b6b6b6;
            background-color: #454545;
          }
        }
      }

      &-tags {
      position: absolute;
      top: 16px;
      left: 16px;
      right: 48px;
      z-index: 99;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      &:empty {
        display: none;
      }

      &-item {
        display: block;
        flex: 0 0 auto;
        padding: 4px 8px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 11px;
        line-height: 140%;
        color: #7d7d7d;
        border-radius: 12px;
        background-color: #ffffff;

        &_sold {
          color: #3c56ca;
          background-color: #eaf0fb;
        }

        &_available {
          color: #218653;
          background-color: #e8f6ee;
        }
      }
    }
    }

    &-more {
      margin: 20px 0 0;

      &-button {
        display: inline-block;
        min-height: 50px;
        width: 100%;
        padding: 14px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        color: #a1a1a4;
        border: 1px solid #e9e9e9;
        background-color: rgba($color: #ffffff, $alpha: 0);
        transition-property: color, border-color, background-color;
        transition-timing-function: ease-out;
        transition-duration: 0.2s;
        cursor: pointer;

        &:hover {
          color: #fefefe;
          border-color: #1e674e;
          background-color: #1e674e;
        }
      }
    }

    
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0 0;

    &-link,
    &-separator {
      display: inline-block;
      padding: 0 5px;
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      color: #a1a1a4;
      border-bottom: 3px solid rgba(255, 255, 255, 0);
      transition-property: color, border-color;
      transition-timing-function: ease-out;
      transition-duration: 0.2s;
    }

    &-link {
      &:hover {
        color: #1e674e;
      }

      &.active {
        color: #1c1c20;
        border-color: #1e674e;
      }
    }
  }
}
