@import './variables';
@import './mixins';

.catalog-04 {
  background-color: #1e1e1e;

  &__wrapper {
    display: block;
  }

  &__cards {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__card {
    position: relative;
    flex: 0 0 calc(100% / 4 - 24px / 4 * 3);
    max-width: calc(100% / 4 - 24px / 4 * 3);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 16px;
    background-color: #2c2c2c;
    transition-property: background-color;
    transition-timing-function: ease-out;
    transition-duration: 0.32s;

    @include desktop {
      flex: 0 0 calc(100% / 3 - 24px / 3 * 2);
      max-width: calc(100% / 3 - 24px / 3 * 2);
    }

    @include laptop {
      flex: 0 0 calc(100% / 2 - 24px / 2);
      max-width: calc(100% / 2 - 24px / 2);
    }

    @include tablet {
      flex: 1 1 100%;
      max-width: 100%;
    }

    &-main,
    &-thumbs {
      & .swiper-slide {
        overflow: hidden;

        & > img {
          display: block;
          max-width: 100%;
          height: auto;
          transform: scale(1.01);
        }
      }
    }

    &-thumbs {
      & .swiper-slide {
        transition: filter ease-out 0.2s;
        filter: brightness(0.5);
        cursor: pointer;

        &.swiper-slide-thumb-active {
          filter: brightness(1);
        }
      }
    }

    &-content {
      display: block;
      padding: 16px;

      & * {
        transition-property: color, background-color;
        transition-timing-function: ease-out;
        transition-duration: 0.32s;
      }

      &-title {
        margin: 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        color: #ffffff;
      }

      &-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin: 12px 0 0;

        &-item {
          padding: 4px 8px;
          font-weight: 400;
          font-size: 12px;
          line-height: 125%;
          color: rgba($color: #ffffff, $alpha: 0.7);
          border-radius: 4px;
          background-color: #444444;
        }
      }

      &-price {
        margin: 12px 0 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        text-transform: uppercase;
        color: #ffffff;
      }

      &-info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 8px 16px;
        margin: 6px 0 0;

        &-payment,
        &-views {
          display: block;
          flex: 0 1 auto;
          box-sizing: border-box;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          color: rgba($color: #ffffff, $alpha: 0.5);
        }

        &-payment {
          padding-right: 20px;
          background: url(../assets/catalog-04/info.svg) top 2px right / 16px no-repeat;
        }

        &-views {
          padding-left: 20px;
          background: url(../assets/catalog-04/eye.svg) top 2px left / 16px no-repeat;
        }
      }

      &-favourites {
        &-button {
          position: absolute;
          top: 16px;
          right: 16px;
          z-index: 10;
          display: block;
          width: 31px;
          height: 31px;
          padding: 0;
          border: none;
          border-radius: 32px;
          background: url(../assets/catalog-04/heart.svg) center / 16px no-repeat;
          background-color: #2c2c2c;
          transition-property: background-image, transform;
          transition-timing-function: ease-out;
          transition-duration: 0.2s;
          will-change: background-image, transform;
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
          }

          &.active {
            background-image: url(../assets/catalog-04/heart-active.svg);
          }
        }
      }
    }

    &-tags {
      position: absolute;
      top: 16px;
      left: 16px;
      right: 48px;
      z-index: 99;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      &:empty {
        display: none;
      }

      &-item {
        display: block;
        flex: 0 0 auto;
        padding: 4px 8px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #fff;
        border-radius: 12px;
        background-color: #ffffff;

        &_sold {
          background-color: #3c56ca;
        }

        &_available {
          background-color: #218653;
        }
      }
    }
  }

  &__more {
    margin: 48px 0 0;

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      width: fit-content;
      padding: 16px 32px;
      box-sizing: border-box;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      color: #fff;
      border: 1px solid #949494;
      border-radius: 8px;
      background-color: #303030;
      transition-property: color, border-color, background-color;
      transition-timing-function: ease-out;
      transition-duration: 0.2s;
      cursor: pointer;

      @include tablet {
        width: 100%;
      }

      &:hover {
        color: #ffffff;
        border-color: #949494;
        background-color: #242424;
      }

      &:disabled {
        color: #b3b3b3;
        border-color: #444444;
        background-color: #383838;
      }

      &::after {
        content: '';
        display: block;
        flex: 0 0 auto;
        width: 16px;
        aspect-ratio: 1;
        background: url(../assets/catalog-04/arrow-right.svg);
      }
    }
  }
}
