@import './variables';
@import './mixins';

.etapy-v-02 {
  background-color: #2f2f2f;

  &__wrapper {
    overflow: auto;

    @include laptop {
      margin: 0 -20px;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }

    @include mobile {
      margin: 0 -15px;
    }

    &::-webkit-scrollbar {
      @include laptop {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;

    @include desktoplg {
      gap: 20px;
    }

    @include laptop {
      min-width: 130%;
      padding: 0 20px;
    }

    @include tablet {
      gap: 20px 16px;
      min-width: 220%;
    }

    @include mobile {
      padding: 0 15px;
    }

    &-item {
      display: flex;
      align-items: stretch;
      flex: 0 0 calc(100% / 3 - 30px / 3 * 2);
      min-height: 136px;
      box-sizing: border-box;

      @include desktoplg {
        flex: 0 0 calc(100% / 3 - 20px / 3 * 2);
      }

      @include desktop {
        flex: 0 0 calc(100% / 2 - 20px / 2);
      }

      @include laptop {
        flex: 0 0 calc(100% / 3 - 20px / 3 * 2);
      }

      @include tablet {
        flex: 0 0 calc(100% / 3 - 16px / 3 * 2);
      }

      &-id {
        display: block;
        flex: 0 0 92px;
        max-width: 92px;
        padding: 20px;
        padding-left: 10px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: -0.01em;
        text-align: right;
        color: #fff;
        background-color: #1e674e;

        @include desktoplg {
          flex: 0 0 72px;
          max-width: 72px;
        }

        @include desktop {
          flex: 0 0 92px;
          max-width: 92px;
        }

        @include laptop {
          flex: 0 0 64px;
          max-width: 64px;
          padding: 20px 15px;
        }
      }

      &-details {
        flex: 1 1 auto;
        padding: 20px;
        background-color: #ffffff;

        &-title {
          margin: 0;
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
          text-transform: uppercase;
          color: #1c1c20;
          overflow-wrap: break-word;
          word-break: break-word;

          @include desktoplg {
            font-size: 18px;
          }
        }

        &-desctiption {
          margin: 10px 0 0;
          font-weight: 400;
          font-size: 15px;
          line-height: 140%;
          color: #727278;
        }
      }
    }
  }
}
