@import './variables';
@import './mixins';

.footer-v-02 {
  padding: 20px 0;
  background-color: #2f2f2f;

  @include tablet {
    padding: 30px 0 40px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    @include tablet {
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 0;
    }
  }

  &__logo {
    flex: 0 0 auto;

    &-link {
      &-image {
        display: block;
        max-width: 100%;
        width: 201px;
        height: auto;
      }
    }
  }

  &__policy {
    @include tablet {
      margin: 30px 0 36px;
    }

    &-link {
      display: inline-block;
      font-weight: 400;
      font-size: 15px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      text-align: center;
      color: #a1a1a4;
      transition: color ease-in-out 0.2s;

      @include tablet {
        text-align: left;
      }

      &:hover {
        color: #ffffff;
      }
    }
  }

  &__developer {
    flex: 0 0 auto;

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      &-logo,
      &-text {
        display: block;
        max-width: 100%;
        height: auto;
      }

      &-logo {
        width: 110px;
      }

      &-text {
        width: 95px;
        transition: filter ease-in-out 0.2s;
      }

      &:hover &-text {
        filter: brightness(200%);
      }
    }
  }
}
