@import './variables';
@import './mixins';

.header-v-02 {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0;
  background-color: #ffffff;
  transition: transform ease-out 0.4s;

  &.hidden {
    transform: translateY(-110%);
  }

  &__wrapper {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 16px 0;

    @include desktop {
      gap: 20px;
    }

    @include laptop {
      padding: 10px 0 11px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 30px;
    order: 0;
    width: fit-content;

    @include desktoplg {
      gap: 24px;
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;

      &-image {
        display: block;
        max-width: 100%;
        width: 231px;
        height: auto;

        @include laptop {
          width: 167px;
        }
      }
    }

    &-slogan {
      display: inline-block;
      max-width: 180px;
      font-weight: 400;
      font-size: 13px;
      line-height: 120%;
      color: #3e3e3e;

      @include laptop {
        display: none;
      }
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    box-sizing: border-box;
    flex: 1 1 auto;

    @include desktoplg {
      gap: 16px;
    }

    @include laptop {
      justify-content: flex-end;
      gap: 20px;
    }

    &-social {
      display: flex;
      align-items: center;
      flex: 0 0 auto;
      gap: 20px;

      @include tablet {
        display: none;
      }

      &-links {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        gap: 4px;
      }

      &-description {
        max-width: 160px;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: #3e3e3e;

        @include desktop {
          display: none;
        }
      }

      &-link {
        display: inline-block;
        width: 40px;
        aspect-ratio: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
        transition-property: border, color, background-color;
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;

        &:hover {
          background-color: #1c1c20;
        }

        &_tg {
          background-image: url(../assets/header-v-02/telegram.svg);
          background-color: #166ff5;
        }

        &_wts {
          background-image: url(../assets/header-v-02/whatsapp.svg);
          background-color: #06cc4d;
        }
      }
    }

    &-phone {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 0 0 auto;
      padding: 0 8px 0 24px;

      @include desktoplg {
        padding-left: 16px;
      }

      @include desktop {
        padding: 0;
      }

      &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 0px;
        bottom: 5px;
        display: inline-block;
        width: 1px;
        background-color: #f2f2f2;

        @include desktop {
          display: none;
        }
      }

      &-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        color: #1c1c20;

        @include tablet {
          display: inline-block;
          width: 40px;
          aspect-ratio: 1 / 1;
          background: url(../assets/header-v-02/phone.svg) center / 20px no-repeat;
          background-color: #1e674e;
          transition: background-color ease-in-out 0.2s;
        }

        &:hover {
          text-decoration-line: underline;
          text-decoration-thickness: 2px;
          text-decoration-color: #1e674e;

          @include tablet {
            background-color: #1c1c20;
          }
        }

        &-text {
          @include tablet {
            display: none;
          }
        }
      }

      &-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: #a1a1a4;

        @include tablet {
          display: none;
        }
      }
    }

    &-callback {
      flex: 0 0 auto;

      @include tablet {
        display: none;
      }

      &-button {
        min-height: 40px;
        padding: 9px 25px 8px;
        font-weight: 500;
        font-size: 13px;
        line-height: 140%;
        color: #fff;
      }
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba($color: $color-black, $alpha: 0);
    transition: background-color ease-in-out 0.2s;
    will-change: background-color;
    pointer-events: none;

    &.active {
      pointer-events: all;
      background-color: rgba($color: $color-black, $alpha: 0.5);
    }

    &-body {
      position: relative;
      max-height: calc(100dvh - 30px);
      max-width: calc(100dvw - 30px);
      width: 360px;
      padding: 24px 20px;
      box-sizing: border-box;
      overflow: hidden;
      background-color: $color-white;
      opacity: 0;
      transition: opacity ease-in-out 0.4s;
      will-change: opacity;
    }

    &.active &-body {
      opacity: 1;
    }

    &-content {
      max-height: calc(100dvh - 74px);
      overflow: auto;
    }

    &-title {
      margin: 0 0 8px;
      padding-right: 30px;
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      color: $color-black;
    }

    &-description {
      margin: 0 0 24px;
      font-weight: 400;
      font-size: 15px;
      line-height: 140%;
      color: #3e3e3e;
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 14px;
      margin: 0 0 12px;
      overflow: hidden;

      @include mobile {
        margin-bottom: 11px;
      }

      &-input {
        display: inline-block;
        min-height: 58px;
        width: calc(16 / 14 * 100%);
        margin: 0 -7.1%;
        padding: 14px 20px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: $color-black;
        border: 1px solid #ebebeb;
        border-radius: 0px;
        outline: none;
        background-color: $color-white;
        transform: scale(0.87);
        transition-property: background-color, border-color, color;
        transition-timing-function: ease-out;
        transition-duration: 0.2s;

        &:user-invalid {
          border-color: $color-red;
        }

        &:focus {
          border-color: #1e674e;
        }

        &::placeholder {
          font-weight: 400;
          color: #a1a1a4;
        }
      }

      &-submit {
        margin: 4px 0 0;
      }
    }

    &-disclaimer {
      margin: 0;
      font-weight: 400;
      font-size: 13px;
      line-height: 154%;
      color: #a1a1a4;
      transition: color ease-in-out 0.2s;

      & a {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #1c1c20;

        &:hover {
          color: #1e674e;
        }
      }
    }

    &-close {
      &-button {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        aspect-ratio: 1;
        padding: 0;
        border: none;
        background-color: #f5f5f5;
        cursor: pointer;

        &::before {
          content: '';
          display: block;
          width: 20px;
          aspect-ratio: 1;
          background: url(../assets/header-v-02/close.svg) center / cover no-repeat;
          filter: brightness(0);
        }
      }
    }
  }
}
