@import './variables';
@import './mixins';

.header-v-01 {
  position: relative;
  z-index: 999;
  padding: 0;

  &__top {
    border-bottom: 1px solid #f2f2f2;
    background-color: #fefefe;

    &-wrapper {
      position: relative;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      padding: 16px 0;

      @include desktop {
        gap: 20px;
      }

      @include laptop {
        gap: 8px;
        padding: 10px 0 11px;
      }
    }

    &-logo {
      display: flex;
      align-items: center;
      gap: 30px;
      order: 0;
      width: fit-content;

      @include desktop {
        gap: 20px;
      }

      &-link {
        display: flex;
        align-items: center;
        justify-content: center;

        &-image {
          display: block;
          max-width: 100%;
          width: 231px;
          height: auto;
        }
      }

      &-slogan {
        display: inline-block;
        max-width: 160px;
        font-weight: 400;
        font-size: 13px;
        line-height: 120%;
        color: #3e3e3e;

        @include laptop {
          display: none;
        }
      }
    }

    &-contacts {
      display: flex;
      align-items: center;
      gap: 30px;
      box-sizing: border-box;

      @include desktop {
        gap: 20px;
      }

      &-phone {
        display: flex;
        align-items: center;
        flex: 0 0 auto;

        &-link {
          font-weight: 500;
          font-size: 18px;
          line-height: 140%;
          color: #1c1c20;

          @include tablet {
            display: inline-block;
            width: 48px;
            aspect-ratio: 1 / 1;
            background: url(../assets/header-v-01/phone.svg) center / 24px no-repeat;
            background-color: #1e674e;
            transition: background-color ease-in-out 0.2s;
          }

          &:hover {
            text-decoration-line: underline;
            text-decoration-thickness: 2px;
            text-decoration-color: #1e674e;

            @include tablet {
              background-color: #1c1c20;
            }
          }

          &-text {
            @include tablet {
              display: none;
            }
          }
        }
      }

      &-social {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        gap: 4px;

        @include tablet {
          display: none;
        }

        &-link {
          display: inline-block;
          width: 40px;
          aspect-ratio: 1;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 24px;
          transition-property: border, color, background-color;
          transition-timing-function: ease-in-out;
          transition-duration: 0.2s;

          &:hover {
            background-color: #1c1c20;
          }

          &_tg {
            background-image: url(../assets/header-v-01/telegram.svg);
            background-color: #166ff5;
          }

          &_wts {
            background-image: url(../assets/header-v-01/whatsapp.svg);
            background-color: #06cc4d;
          }
        }
      }

      &-callback {
        flex: 0 0 auto;

        @include tablet {
          display: none;
        }

        &-button {
          min-height: 40px;
          padding: 9px 25px 8px;
          font-weight: 500;
          font-size: 13px;
          line-height: 140%;
          color: #fff;
        }
      }
    }
  }

  &__menu {
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    border-top: 2px solid #f2f2f2;
    background-color: #ffffff;
    transform: translate3d(0, -120dvh, 0);
    transition: transform ease-in-out 0.4s;
    will-change: transform;

    @include tablet {
      top: 80px;
    }

    &.active {
      transform: translate3d(0, 0, 0);
    }

    & > .container {
      height: 100%;
    }

    &-wrapper {
      max-height: 100%;
      padding: 35px 0;
      box-sizing: border-box;

      @include desktop {
        padding: 35px 0;
      }

      @include laptop {
        padding: 30px 0;
      }

      @include mobile {
        padding: 15px 0;
      }
    }

    &-content {
      display: block;
      max-height: calc(100dvh - 170px);
      overflow: auto;

      @include mobile {
        max-height: calc(100dvh - 120px);
      }
    }

    &-desktop {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 98px 34px;

      @include desktop {
        gap: 78px 34px;
      }

      @include laptop {
        gap: 70px 34px;
      }

      @include tablet {
        display: none;
      }
    }

    &-mobile {
      display: none;
      overflow: hidden;
      padding-bottom: 85px;

      @include tablet {
        display: block;
      }

      &-nav {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin: 0 0 60px;

        &:has(&-item.active) &-item:not(.active) {
          display: none;
        }

        &-item {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;

          &-title {
            flex: 1 1 calc(100% - 32px);
            padding: 15px 0;

            &-link {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              width: fit-content;
              box-sizing: border-box;
              font-weight: 500;
              font-size: 20px;
              letter-spacing: -0.01em;
              color: #1c1c20;
            }
          }

          &.active &-title {
            display: none;
          }

          &:has(&-details) &-title {
            &-link {
              pointer-events: none;
            }
          }

          &-more {
            flex: 0 0 32px;
            display: flex;
            justify-content: center;

            &-button {
              display: inline-block;
              padding: 17px 0 13px;
              border: none;
              background-color: rgba($color: #ffffff, $alpha: 0);
              cursor: pointer;

              &::before {
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                box-sizing: border-box;
                background: url(../assets/header-v-01/shevron.svg) center / 8px no-repeat;
                transform: rotate(180deg);
                filter: brightness(0%);
              }
            }
          }

          &.active &-more {
            display: none;
          }

          &-details {
            position: absolute;
            top: 0;
            z-index: 10;
            flex: 1 1 100%;
            transform: translateX(120dvw);
            transition-property: transform;
            transition-timing-function: ease-in-out;
            transition-duration: 0.24s;
            background-color: #ffffff;
          }

          &.active &-details {
            position: static;
            top: auto;
            transform: translateX(0);
          }

          &-back {
            &-button {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              min-height: 56px;
              width: 100%;
              margin: 0 0 4px;
              padding: 0;
              padding-left: 48px;
              box-sizing: border-box;
              border: none;
              font-weight: 500;
              font-size: 20px;
              letter-spacing: -0.01em;
              color: #1e674e;
              background: url(../assets/header-v-01/shevron.svg) left 8px center / 8px no-repeat;
              cursor: pointer;
            }
          }
        }
      }

      &-contacts {
        display: block;

        &-phone {
          margin: 0 0 9px;

          &-link {
            font-weight: 600;
            font-size: 28px;
            line-height: 129%;
            letter-spacing: -0.03em;
            color: #1c1c20;

            &:hover {
              text-decoration-line: underline;
              text-decoration-thickness: 2px;
              text-decoration-color: #1e674e;
            }
          }
        }

        &-mode {
          margin: 0 0 17px;
          font-weight: 500;
          font-size: 20px;
          line-height: 140%;
          letter-spacing: -0.01em;
          color: #87878e;
        }

        &-callback {
          margin: 0 0 31px;
        }

        &-address,
        &-email {
          margin: 0 0 21px;
          font-weight: 500;
          font-size: 20px;
          line-height: 140%;
          letter-spacing: -0.01em;
          color: #1c1c20;
        }

        &-email {
          margin: 0 0 27px;

          & > a {
            color: inherit;
          }
        }

        &-social {
          display: flex;
          align-items: center;
          flex: 0 0 auto;
          gap: 4px;

          &-link {
            display: inline-block;
            width: 48px;
            aspect-ratio: 1 / 1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 24px;
            transition-property: border, color, background-color;
            transition-timing-function: ease-in-out;
            transition-duration: 0.2s;

            &:hover {
              background-color: #1c1c20;
            }

            &_tg {
              background-image: url(../assets/header-v-01/telegram.svg);
              background-color: #166ff5;
            }

            &_wts {
              background-image: url(../assets/header-v-01/whatsapp.svg);
              background-color: #06cc4d;
            }
          }
        }
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      flex: 0 0 calc(100% / 4 - 34px / 4 * 3);
      gap: 24px;
      max-width: calc(100% / 4 - 34px / 4 * 3);
      margin: 0;
      padding: 0;
      list-style-type: none;

      @include tablet {
        flex: 1 1 auto;
        gap: 4px;
        max-width: none;
        background-color: #ffffff;
      }

      &:has(.header-v-1__menu-list-item_hidden) &-item_hidden {
        display: none;
      }

      &.active:has(.header-v-1__menu-list-item_hidden) &-item_hidden {
        display: block;
      }

      &:not(:has(.header-v-1__menu-list-item_hidden)) &-more {
        display: none;
      }

      &-item {
        @include tablet {
          padding: 14px 0;
        }

        &-link {
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
          letter-spacing: -0.01em;
          color: #87878e;
          transition: color ease-in-out 0.2s;

          @include desktop {
            font-size: 14px;
          }

          @include tablet {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            font-size: 20px;
            color: #1c1c20;
          }

          &:hover {
            color: #1c1c20;
          }

          &_title {
            font-weight: 600;
            color: #1c1c20;

            &:hover {
              color: #1e674e;
            }
          }
        }
      }

      &-more {
        &-button {
          display: inline-block;
          margin: 0;
          padding: 0;
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
          letter-spacing: -0.01em;
          color: #1e674e;
          border: none;
          background-color: rgba($color: #ffffff, $alpha: 0);
          transition: color ease-in-out 0.2s;
          cursor: pointer;

          @include desktop {
            font-size: 14px;
          }

          @include tablet {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            min-height: 56px;
            font-size: 20px;
          }
        }
      }
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0);
    transition: background-color ease-in-out 0.2s;
    will-change: background-color;
    pointer-events: none;

    &.active {
      pointer-events: all;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }

    &-body {
      position: relative;
      max-height: calc(100dvh - 48px);
      max-width: calc(100dvw - 30px);
      width: 484px;
      padding: 43px 48px 56px;
      box-sizing: border-box;
      overflow: hidden;
      background-color: #fafafa;
      opacity: 0;
      transition: opacity ease-in-out 0.4s;
      will-change: opacity;

      @include tablet {
        padding: 36px 24px;
      }
    }

    &.active &-body {
      opacity: 1;
    }

    &-content {
      max-height: calc(100dvh - 68px);
      overflow: auto;

      @include tablet {
        max-height: calc(100dvh - 88px);
      }
    }

    &-title {
      margin: 0 0 13px;
      font-weight: 500;
      font-size: 38px;
      line-height: 140%;
      letter-spacing: -0.01em;
      color: #1c1c20;

      @include mobile {
        margin-bottom: 11px;
        font-size: 32px;
      }
    }

    &-description {
      margin: 0 0 45px;
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: -0.01em;
      color: #87878e;

      @include mobile {
        margin-bottom: 30px;
      }
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin: 0 0 19px;

      @include mobile {
        margin-bottom: 11px;
      }

      &-submit {
        margin: 24px 0 0;

        @include mobile {
          margin: 0;
        }
      }
    }

    &-disclaimer {
      margin: 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: -0.01em;
      color: #b9b9b9;
      transition: color ease-in-out 0.2s;

      & a {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #1c1c20;

        &:hover {
          color: #1e674e;
        }
      }
    }

    &-close {
      &-button {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 54px;
        width: 54px;
        padding: 0;
        border: none;
        background-color: #f5f5f5;
        cursor: pointer;

        &::before {
          content: '';
          display: block;
          width: 28px;
          aspect-ratio: 1 / 1;
          background: url(../assets/header-v-01/close.svg) center / cover no-repeat;
          filter: brightness(0);
        }
      }
    }
  }
}
