@import './variables';
@import './mixins';

.image-carousel-07 {
  background-color: #f7ebf2;

  &__main {
    position: relative;
    overflow: hidden;

    & .container {
      max-width: none;
    }
  }

  &__slider {
    & .swiper {
      display: grid;
      overflow: visible;

      @include laptop {
        overflow: visible;
      }

      &-wrapper {
        min-width: 0;
      }

      &-slide {
        height: 100%;
        width: 310px;

        @include laptop {
          width: calc((100% - 20px) / 2 - 20px);
        }

        @include tablet {
          width: calc(100% - 24px - 16px);
        }
      }
    }

    &-controls {
      &-button {
        &-prev,
        &-next {
          position: absolute;
          top: 50%;
          z-index: 10;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          background-color: $color-black;
          transform: translateY(-50%);
          transition-property: color;
          transition-timing-function: ease-in-out;
          transition-duration: 0.2s;
          cursor: pointer;

          @include laptop {
            display: none;
          }

          &:hover {
            background-color: #1e674e;
          }

          &::after {
            content: '';
            display: block;
            width: 22px;
            aspect-ratio: 1;
            filter: invert(100%);
            background: url(../assets/image-carousel-07/arrow-left.svg) center / cover no-repeat;
          }

          &.swiper-button-disabled {
            opacity: 0;
          }
        }

        &-prev {
          left: 30px;

          &::after {
            transform: rotate(180deg);
          }
        }

        &-next {
          right: 30px;
        }
      }
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &-photo {
      margin: 0;

      &-image {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 16px;
      }
    }

    &-name {
      margin: 16px 0 0;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      color: #1c1c20;
    }

    &-role {
      margin: 8px 0 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      color: #3e3e3e;
    }
  }
}
