@import './variables';
@import './mixins';

.karusel-izobr-v-03 {
  overflow: hidden;
  background-color: #3e3e3e;

  &__slider {
    @include laptop {
      margin: 0 -21px;
    }

    @include mobile {
      margin: 0 -16px;
    }

    @include mobilesm {
      margin: 0 -11px;
    }

    & .swiper {
      display: grid;
      overflow: visible;

      @include laptop {
        overflow: visible;
      }

      &-wrapper {
        min-width: 0;
      }

      &-slide {
        height: 100%;
        width: 424px;

        @include desktop {
          width: 404px;
        }

        @include laptop {
          width: calc((100% - 78px) / 2 - 20px);
        }

        @include tablet {
          width: calc(100% - 60px - 16px);
        }
      }

      &-button {
        &-prev,
        &-next {
          top: calc(424px * 283 / 424 / 2);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          margin-top: 0;
          background-color: $color-black;
          transform: translateY(-50%);
          transition-property: color;
          transition-timing-function: ease-in-out;
          transition-duration: 0.2s;

          @include desktop {
            top: calc(404px * 283 / 424 / 2);
          }

          @include laptop {
            display: none;
          }

          &:hover {
            background-color: #1e674e;
          }

          &::after {
            content: '';
            display: block;
            width: 22px;
            aspect-ratio: 1;
            filter: invert(100%);
            background: url(../assets/karusel-izobr-v-03/arrow-left.svg) center / cover no-repeat;
          }
        }

        &-prev {
          left: 0;

          &::after {
            transform: rotate(180deg);
          }
        }

        &-next {
          right: 0;
        }

        &-disabled {
          opacity: 0;
        }
      }
    }
  }

  &__slide {
    width: 100%;

    &-figure {
      margin: 0;

      &-image {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    &-text {
      padding: 16px 6px 0;
      font-weight: 500;
      font-size: 15px;
      line-height: 140%;
      color: #cecece;
    }
  }
}
