@import './variables';
@import './mixins';

.katalog-v-1 {
  &__categories {
    overflow-y: hidden;
    overflow-x: auto;

    @include laptop {
      margin: 0 -20px;
    }

    @include mobile {
      margin: 0 -15px;
    }

    @include mobilesm {
      margin: 0 -10px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;

      @include laptop {
        padding: 0 20px;
      }

      @include mobile {
        padding: 0 15px;
      }

      @include mobilesm {
        padding: 0 10px;
      }

      &-item {
        display: block;
        flex: 0 0 auto;
        padding: 14px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: $color-black;
        background-color: $color-gray;
        transition-property: color, background-color;
        transition-timing-function: ease-out;
        transition-duration: 0.2s;
        cursor: pointer;

        &:hover {
          color: #ffffff;
          background-color: #1e674e;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 24px 0 0;

    &-sidebar {
      flex: 0 0 248px;

      @include desktoplg {
        flex: 0 0 218px;
      }

      @include desktop {
        flex: 0 0 200px;
      }

      @include laptop {
        display: none;
      }
    }

    &-main {
      flex: 1 1 auto;
    }
  }

  &__menu {
    padding: 0;
    margin: 0;
    list-style-type: none;

    &-item {
      padding: 12px 0;
      border-bottom: 1px solid #e9e9e9;

      @include desktop {
        max-width: 190px;
      }

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }

      &-link {
        font-weight: 500;
        font-size: 15px;
        line-height: 140%;
        color: #1c1c20;
        transition-property: color, font-weight;
        transition-timing-function: ease-out;
        transition-duration: 0.2s;

        &:hover {
          color: #1e674e;
        }
      }

      &.active &-link {
        font-weight: 600;
      }
    }

    &-item.active &-submenu {
      display: flex;
    }

    &-submenu {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin: 0;
      padding: 12px 0 0;
      padding-left: 10px;
      list-style-type: none;
      display: none;

      &-item {
        display: inline-block;

        &-link {
          display: block;
          font-weight: 500;
          font-size: 15px;
          line-height: 120%;
          color: #a1a1a4;
          transition-property: color, font-weight;
          transition-timing-function: ease-out;
          transition-duration: 0.2s;

          &:hover {
            color: #1e674e;
          }
        }
      }
    }
  }

  &__catalog {
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      @include desktoplg {
        gap: 20px;
      }
    }

    &-product {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      flex: 1 1 100%;
      gap: 12px 24px;
      padding: 0 24px;
      box-sizing: border-box;
      border: 1px solid #e9e9e9;

      @include desktoplg {
        gap: 12px 20px;
      }

      @include desktop {
        gap: 28px 20px;
      }

      @include laptop {
        gap: 24px 20px;
        padding: 0 15px;
      }

      @include tablet {
        gap: 24px 16px;
        padding-bottom: 20px;
      }

      &-photo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 121px;
        order: 0;
        margin: 0;

        @include desktoplg {
          flex: 0 0 114px;
        }

        &-image {
          display: block;
          max-width: 100%;
          width: 100%;
          height: auto;
        }
      }

      &-title,
      &-price,
      &-order {
        padding-top: 30px;

        @include desktoplg {
          padding-top: 20px;
        }
      }

      &-title {
        flex: 1 1 20%;
        order: 1;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #1c1c20;

        @include tablet {
          flex: 1 1 calc(100% - 114px - 20px);
        }
      }

      &-price {
        flex: 0 0 165px;
        order: 2;

        @include desktoplg {
          flex: 0 0 148px;
        }

        @include desktop {
          flex: 0 0 132px;
        }

        @include tablet {
          flex: 0 0 calc(100% / 2 - 16px / 2);
          max-width: calc(100% / 2 - 16px / 2);
          padding: 0;
          order: 3;
        }

        &-value {
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
          text-align: center;
          color: #1c1c20;

          @include tablet {
            text-align: left;
          }
        }

        &-disclaimer {
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
          letter-spacing: -0.01em;
          text-align: center;
          color: #1c1c20;

          @include laptop {
            font-size: 15px;
          }

          @include tablet {
            text-align: left;
          }
        }
      }

      &-order {
        flex: 0 0 auto;
        order: 3;

        @include tablet {
          flex: 0 0 calc(100% / 2 - 16px / 2);
          max-width: calc(100% / 2 - 16px / 2);
          order: 4;
          padding: 0;
        }

        &-button {
          min-width: 174px;
          text-transform: uppercase;

          @include desktop {
            min-height: 45px;
            min-width: 157px;
            padding: 10px 15px;
          }

          @include mobile {
            min-width: auto;
            width: 100%;
          }

          &:hover {
            background-color: #1c1c20;
          }
        }
      }

      &-props {
        display: flex;
        align-items: flex-start;
        flex: 1 1 100%;
        gap: 20px;
        order: 4;
        padding-bottom: 30px;

        @include desktoplg {
          padding-bottom: 20px;
        }

        @include tablet {
          flex-wrap: wrap;
          gap: 24px 16px;
          order: 2;
          padding-bottom: 0;
        }

        &-item,
        &-all {
          flex: 0 0 calc(100% / 4 - 20px / 4 * 3);

          @include tablet {
            flex: 0 0 calc(100% / 2 - 16px / 2);
            max-width: calc(100% / 2 - 16px / 2);
          }
        }

        &-item {
          &-title {
            margin: 0 0 3px;
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            color: #a1a1a4;
          }

          &-value {
            font-weight: 500;
            font-size: 15px;
            line-height: 140%;
            color: #1c1c20;
          }
        }

        &-all {
          &-link {
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #a1a1a4;
          }
        }
      }
    }

    &-more {
      margin: 20px 0 0;

      &-button {
        display: inline-block;
        min-height: 50px;
        width: 100%;
        padding: 14px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        color: #a1a1a4;
        border: 1px solid #e9e9e9;
        background-color: rgba($color: #ffffff, $alpha: 0);
        transition-property: color, border-color, background-color;
        transition-timing-function: ease-out;
        transition-duration: 0.2s;
        cursor: pointer;

        &:hover {
          color: #fefefe;
          border-color: #1e674e;
          background-color: #1e674e;
        }
      }
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0 0;

    &-link,
    &-separator {
      display: inline-block;
      padding: 0 5px;
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      color: #a1a1a4;
      border-bottom: 3px solid rgba($color: #ffffff, $alpha: 0);
      transition-property: color, border-color;
      transition-timing-function: ease-out;
      transition-duration: 0.2s;
    }

    &-link {
      &:hover {
        color: #1e674e;
      }

      &.active {
        color: #1c1c20;
        border-color: #1e674e;
      }
    }
  }
}
