@import './variables';
@import './mixins';

.kategorii-v-03 {
  &__cards {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 36px 20px;
    margin: 0;

    @include laptop {
      gap: 36px 16px;
    }
  }

  &__card {
    flex: 0 0 calc(100% / 4 - 20px / 4 * 3);
    box-sizing: border-box;

    @include laptop {
      flex: 0 0 calc(100% / 2 - 16px / 2);
    }

    &-link {
      position: relative;
      display: inline-block;

      &-photo {
        margin: 0;
        overflow: hidden;

        &-image {
          display: block;
          max-width: 100%;
          width: 100%;
          height: auto;
          transition-property: transform;
          transition-timing-function: ease-in-out;
          transition-duration: 0.4s;
        }
      }

      &:hover &-photo {
        &-image {
          transform: scale(1.1);
        }
      }

      &-icon {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        aspect-ratio: 1;
        background-color: $color-gray;
        transition-property: background-color;
        transition-timing-function: ease-out;
        transition-duration: 0.2s;

        &::before {
          content: '';
          display: block;
          width: 28px;
          aspect-ratio: 1;
          background: url(../assets/kategorii-v-02/link-icon.svg) center / cover no-repeat;
          transition-property: filter;
          transition-timing-function: ease-out;
          transition-duration: 0.2s;
        }
      }

      &:hover &-icon {
        background-color: #1e674e;

        &::before {
          filter: brightness(0%) invert(100%);
        }
      }

      &-title {
        display: inline-block;
        margin: 20px 0 0;
        font-weight: 500;
        font-size: 16px;
        line-height: normal;
        color: $color-black;
      }
    }
  }
}
