@import './variables';
@import './mixins';

.kategorii-v-04 {
  &__links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;

    @include desktoplg {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    @include desktop {
      gap: 16px;
    }

    @include laptop {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: auto;
    }

    &-item {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      box-sizing: border-box;
      gap: 16px;
      padding: 16px;
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.01em;
      color: #1c1c20;
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
      background-color: #f5f5f5;
      transition-property: color, background-color;
      transition-timing-function: ease-out;
      transition-duration: 0.2s;

      &:hover {
        color: #ffffff;
        background-color: #1e674e;
      }

      &-text {
        flex: 0 1 auto;
      }

      &-icon {
        flex: 0 0 auto;
        margin: 0;

        &-image {
          display: block;
          max-width: 100%;
          width: 28px;
          height: auto;
        }
      }

      &:hover &-icon {
        filter: brightness(0%) invert(100%);
      }
    }
  }
}
