@import './variables';
@import './mixins';

.lid-forma-v-01 {
  padding: 30px 0;
  background-color: #3169b3;

  @include desktop {
    padding: 20px 0;
  }

  @include tablet {
    padding: 15px 0;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 30px;

    @include desktop {
      gap: 24px 20px;
    }

    @include laptop {
      flex-wrap: wrap;
    }
  }

  &__photo {
    flex: 0 0 750px;
    margin: 0;

    @include desktoplg {
      flex: 0 0 580px;
    }

    @include desktop {
      flex: 0 0 490px;
    }

    @include laptop {
      flex: 1 1 auto;
    }

    &-image {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__callback {
    &-title {
      margin: 0;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      color: #f5f5f5;
    }

    &-description {
      margin: 8px 0 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #d7d7d7;
    }

    &-form {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 16px 20px;
      margin: 24px 0 0;

      @include laptop {
        gap: 12px 20px;
      }

      &-input,
      &-textarea {
        display: inline-block;
        width: 100%;
        padding: 14px 20px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: $color-white;
        border: 1px solid #28599a;
        border-radius: 0px;
        outline: none;
        background-color: #28599a;
        transition-property: color, background-color, border-color;
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;

        @include laptop {
          width: calc(16 / 14 * 100%);
          padding: 16px 22px;
          margin: 0 -7.1%;
          font-size: 16px;
          transform: scale(0.87);
        }

        &:focus {
          color: #1c1c20;
          border-color: $color-white;
          background-color: $color-white;
        }

        &::placeholder {
          font-weight: 400;
          color: $color-white;
        }

        &:focus::placeholder {
          color: $color-black;
        }

        &:user-invalid {
          border-color: $color-red;
        }
      }

      &-input {
        flex: 0 0 calc(100% / 2 - 20px / 2);
        min-height: 50px;

        @include laptop {
          flex: 1 1 100%;
          min-height: 58px;
        }
      }

      &-textarea {
        flex: 1 1 100%;
        min-height: 220px;
        resize: none;

        @include desktoplg {
          min-height: 141px;
        }

        @include desktop {
          min-height: 89px;
        }

        @include laptop {
          min-height: 173px;
        }
      }

      &-submit {
        flex: 0 0 320px;
        min-width: 320px;
        color: $color-white;
        border-color: $color-black;
        background-color: $color-black;

        @include desktop {
          flex: 0 0 240px;
          min-width: 240px;
        }

        @include laptop {
          flex: 1 1 100%;
        }

        &:hover {
          color: $color-black;
          border-color: $color-white;
          background-color: $color-white;
        }
      }

      &-disclaimer {
        flex: 0 0 calc(100% - 320px - 20px);
        max-width: 320px;
        font-weight: 500;
        font-size: 13px;
        line-height: 140%;
        color: $color-white;

        @include desktop {
          flex: 0 0 calc(100% - 240px - 20px);
        }

        @include laptop {
          flex: 1 1 100%;
          max-width: none;
        }

        &-link {
          font-weight: 400;
          color: inherit;
          text-decoration: underline;
          text-decoration-skip-ink: none;
        }
      }
    }
  }
}
