@import './variables';
@import './mixins';

.mod-ok-v-03 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: rgba($color: $color-black, $alpha: 0);
  transition: background-color ease-in-out 0.2s;
  will-change: background-color;
  pointer-events: none;

  &.active {
    pointer-events: all;
    background-color: rgba($color: $color-black, $alpha: 0.5);
  }

  &__body {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: calc(100dvw - 30px);
    max-height: calc(100dvh - 20px);
    width: 360px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 20px;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0);
    transition: opacity ease-in-out 0.4s;
    will-change: opacity;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 1;
      background: url(../assets/mod-ok-v-03/chat-bg.jpg) top center / 100% repeat-y;
      opacity: 0.5;
    }
  }

  &_tg &__body {
    &::before {
      filter: invert(0%);
    }
  }

  &_wts &__body {
    &::before {
      filter: invert(100%);
    }
  }

  &_max &__body {
    &::before {
      filter: invert(100%);
    }
  }

  &.active &__body {
    opacity: 1;
  }

  &__content {
    position: relative;
    z-index: 10;
    max-height: calc(100dvh - 30px);
    overflow: auto;
  }

  &_tg &__content {
    background-color: rgba($color: #bfd1e6, $alpha: 0.87);
  }

  &_wts &__content {
    background-color: rgba($color: #f6f1eb, $alpha: 0.87);
  }

  &_max &__content {
    background-color: rgba($color: #8ec8ed, $alpha: 0.87);
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__header {
    position: relative;
    flex: 0 0 auto;
    padding: 13px 16px;
    background-color: #1c1c20;

    &-logo {
      display: flex;
      align-items: center;
      gap: 14px;

      &-icon {
        display: block;
        max-width: 38px;
        max-height: 38px;
        height: auto;
      }

      &-name {
        font-weight: 500;
        font-size: 18px;
        color: #fff;
      }
    }

    &-close {
      &-button {
        position: absolute;
        top: 50%;
        right: 6px;
        display: inline-block;
        width: 40px;
        aspect-ratio: 1;
        border: none;
        background: url(../assets/mod-ok-v-03/close.svg) center / 20px no-repeat;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }

  &_tg &__header {
    background-color: #3f86ce;
  }

  &_wts &__header {
    background-color: #118c4e;
  }

  &_max &__header {
    background-color: #3f86ce;
  }

  &__policy {
    flex: 0 0 auto;
    padding: 10px 16px;
    font-weight: 400;
    font-size: 12px;
    color: #a1a1a4;
    background-color: #f5f5f5;

    &-link {
      color: inherit;
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }

  &__chat {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 auto;
    padding: 15px 20px;
    box-sizing: border-box;
    overflow: auto;
    scrollbar-width: thin;

    &-message {
      display: flex;
      flex: 0 1 auto;

      &:has(&-incoming) {
        justify-content: flex-start;
      }

      &:has(&-outgoing) {
        justify-content: flex-end;
      }

      &-incoming,
      &-outgoing {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 284px;
        width: 100%;
        padding: 10px 10px 12px;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 14px;
        color: #1c1c20;
        border-radius: 7px;
        background-color: #ffffff;

        &::before {
          content: '';
          position: absolute;
          bottom: -1px;
          z-index: -1;
          display: block;
          width: 10px;
          aspect-ratio: 1;
          background: url(../assets/mod-ok-v-03/tail.svg) center / cover no-repeat;
        }
      }

      &-incoming {
        &::before {
          left: -5px;
        }
      }

      &-outgoing {
        &::before {
          right: -5px;
          transform: scaleX(-1);
        }
      }

      &-incoming:has(&-input) {
        padding-bottom: calc(12px * 0.875);
      }

      &-input {
        display: inline-block;
        max-width: calc(194px / 0.875);
        width: 100%;
        padding: calc(8px / 0.875) calc(10px / 0.875);
        box-sizing: border-box;
        font-weight: 400;
        font-size: 16px;
        color: #1c1c20;
        border: none;
        border-radius: 7px;
        outline: none;
        background-color: #eaeaea;
        transform: scale(0.875);
        transform-origin: top left;

        &::placeholder {
          color: #a1a1a4;
        }
      }
    }
  }

  &__footer {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    height: min-content;
    padding: 15px 16px 8px;
    background-color: rgba($color: #eaf3f8, $alpha: 1);

    &-textarea {
      display: block;
      min-height: calc(54px);
      max-height: 240px;
      width: 100%;
      height: fit-content;
      padding: calc(18px) calc(20px);
      box-sizing: border-box;
      font-weight: 400;
      font-size: 16px;
      color: #1c1c20;
      border: none;
      border-radius: calc(28px);
      outline: none;
      background-color: #ffffff;
      resize: none;
      scrollbar-width: thin;

      &::placeholder {
        color: #a1a1a4;
      }
    }

    &-submit {
      display: flex;
      flex: 0 0 auto;
      width: 54px;
      padding: 0;
      aspect-ratio: 1;
      border: none;
      border-radius: 28px;
      background-position: center;
      background-size: 24px;
      background-repeat: no-repeat;
      background-color: #1c1c20;
      transition: background-color ease-out 0.2s;
      cursor: pointer;

      &:hover {
        background-color: #1c1c20;
      }
    }
  }

  &_tg &__footer {
    background-color: rgba($color: #eaf3f8, $alpha: 0);

    &-submit {
      background-color: #3183d5;
      background-image: url(../assets/mod-ok-v-03/tg-submit.svg);

      &:hover {
        background-color: #1c1c20;
      }
    }
  }

  &_wts &__footer {
    background-color: rgba($color: #eaf3f8, $alpha: 0);

    &-submit {
      background-color: #238e58;
      background-image: url(../assets/mod-ok-v-03/wts-submit.svg);

      &:hover {
        background-color: #1c1c20;
      }
    }
  }

  &_max &__footer {
    background-color: rgba($color: #eaf3f8, $alpha: 1);

    &-submit {
      background-color: #0279fc;
      background-image: url(../assets/mod-ok-v-03/max-submit.svg);

      &:hover {
        background-color: #1c1c20;
      }
    }
  }
}
