@import './variables';
@import './mixins';

.mod-ok-v-02 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba($color: $color-black, $alpha: 0);
  transition: background-color ease-in-out 0.2s;
  will-change: background-color;
  pointer-events: none;

  &.active {
    pointer-events: all;
    background-color: rgba($color: $color-black, $alpha: 0.5);
  }

  &__body {
    position: relative;
    max-height: calc(100dvh - 30px);
    max-width: calc(100dvw - 30px);
    width: 716px;
    padding: 30px 24px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: $color-white;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
    will-change: opacity;
  }

  &.active &__body {
    opacity: 1;
  }

  &__content {
    max-height: calc(100dvh - 74px);
    overflow: auto;
  }

  &__title {
    margin: 0 0 8px;
    padding-right: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: $color-black;
  }

  &__description {
    margin: 0 0 24px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #3e3e3e;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 18px;
    margin: 0 0 12px;
    overflow: hidden;

    @include tablet {
      display: block;
    }

    @include mobile {
      margin-bottom: 11px;
    }

    &-input {
      display: inline-block;
      flex: 0 0 calc(100% / 2 - 18px / 2);
      min-height: 50px;
      width: 100%;
      margin: 0;
      padding: 15px 24px;
      box-sizing: border-box;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: $color-black;
      border: 1px solid #ebebeb;
      border-radius: 0px;
      outline: none;
      background-color: $color-white;
      transition-property: background-color, border-color, color;
      transition-timing-function: ease-out;
      transition-duration: 0.2s;

      @include tablet {
        min-height: 58px;
        width: calc(16 / 14 * 100%);
        margin: 0 -7.1% 14px;
        padding: 14px 20px;
        font-size: 16px;
        transform: scale(0.87);
      }

      &:user-invalid {
        border-color: $color-red;
      }

      &:focus {
        border-color: #1e674e;
      }

      &::placeholder {
        font-weight: 400;
        color: #a1a1a4;
      }
    }

    &-textarea {
      display: inline-block;
      flex: 1 1 100%;
      min-height: 112px;
      width: 100%;
      margin: 0;
      padding: 15px 24px;
      box-sizing: border-box;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: $color-black;
      border: 1px solid #ebebeb;
      border-radius: 0px;
      outline: none;
      background-color: $color-white;
      transition-property: background-color, border-color, color;
      transition-timing-function: ease-out;
      transition-duration: 0.2s;

      @include tablet {
        min-height: 128px;
        width: calc(16 / 14 * 100%);
        margin: 0 -7.1% 14px;
        padding: 14px 20px;
        font-size: 16px;
        transform: scale(0.87);
      }

      &:user-invalid {
        border-color: $color-red;
      }

      &:focus {
        border-color: #1e674e;
      }

      &::placeholder {
        font-weight: 400;
        color: #a1a1a4;
      }
    }

    &-channel {
      display: flex;
      align-items: center;
      gap: 63px;
      flex: 0 0 54%;
      width: 100%;
      padding: 0 0 5px;
      margin: 0;
      border: none;
      border-bottom: 4px solid #dfdfe0;

      @include desktoplg {
        gap: 44px;
      }

      @include laptop {
        gap: 25px;
      }

      @include tablet {
        justify-content: space-between;
        flex: 1 1 100%;
        gap: 12px;
        margin: 0 0 24px;
      }

      &-item {
        position: relative;
        padding: 0 12px;
        cursor: pointer;

        @include tablet {
          padding: 0 10px;
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        &::before {
          content: '';
          position: absolute;
          top: calc(100% + 6px);
          left: 0;
          right: 0;
          height: 2px;
          background-color: rgba($color: #1e674e, $alpha: 0);
          transition: all ease-out 0.2s;

          @include tablet {
            top: calc(100% + 5px);
            height: 4px;
          }
        }

        &:has(&-input:checked)::before {
          background-color: rgba($color: #1e674e, $alpha: 1);
        }

        &-text {
          font-weight: 500;
          font-size: 14px;
          text-transform: uppercase;
          color: #a1a1a4;
          transition: all ease-out 0.2s;

          @include tablet {
            font-size: 13px;
          }
        }

        &:has(&-input:checked) &-text {
          color: #1c1c20;
        }

        &-input {
          display: none;
        }
      }
    }

    &-bottom {
      display: flex;
      align-items: flex-start;
      gap: 20px;
      margin: 0;
      padding: 0;
      border: none;

      @include tablet {
        flex-wrap: wrap;
      }
    }

    &-submit {
      flex: 0 0 54%;
      margin: 0;
      text-transform: uppercase;

      @include tablet {
        flex: 1 1 100%;
      }
    }

    &-disclaimer {
      margin: 0;
      font-weight: 400;
      font-size: 13px;
      line-height: 154%;
      color: #a1a1a4;
      transition: color ease-in-out 0.2s;

      & a {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: inherit;

        &:hover {
          color: #1e674e;
        }
      }
    }
  }

  &__close {
    &-button {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      aspect-ratio: 1;
      padding: 0;
      border: none;
      background-color: #f5f5f5;
      cursor: pointer;

      &::before {
        content: '';
        display: block;
        width: 20px;
        aspect-ratio: 1;
        background: url(../assets/vidzhet-sv-v-01/close.svg) center / cover no-repeat;
        filter: brightness(0);
      }
    }
  }
}
