@import './variables';
@import './mixins';

.mod-ok-v-01 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba($color: $color-black, $alpha: 0);
  transition: background-color ease-in-out 0.2s;
  will-change: background-color;
  pointer-events: none;

  &.active {
    pointer-events: all;
    background-color: rgba($color: $color-black, $alpha: 0.5);
  }

  &__body {
    position: relative;
    max-height: calc(100dvh - 30px);
    max-width: calc(100dvw - 30px);
    width: 360px;
    padding: 24px 20px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: $color-white;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
    will-change: opacity;
  }

  &.active &__body {
    opacity: 1;
  }

  &__content {
    max-height: calc(100dvh - 74px);
    overflow: auto;
  }

  &__title {
    margin: 0 0 8px;
    padding-right: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: $color-black;
  }

  &__description {
    margin: 0 0 24px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #3e3e3e;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 0 0 12px;
    overflow: hidden;

    @include mobile {
      margin-bottom: 11px;
    }

    &-input {
      display: inline-block;
      min-height: 58px;
      width: calc(16 / 14 * 100%);
      margin: 0 -7.1%;
      padding: 14px 20px;
      box-sizing: border-box;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: $color-black;
      border: 1px solid #ebebeb;
      border-radius: 0px;
      outline: none;
      background-color: $color-white;
      transform: scale(0.87);
      transition-property: background-color, border-color, color;
      transition-timing-function: ease-out;
      transition-duration: 0.2s;

      &:user-invalid {
        border-color: $color-red;
      }

      &:focus {
        border-color: #1e674e;
      }

      &::placeholder {
        font-weight: 400;
        color: #a1a1a4;
      }
    }

    &-submit {
      margin: 4px 0 0;
    }
  }

  &__disclaimer {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 154%;
    color: #a1a1a4;
    transition: color ease-in-out 0.2s;

    & a {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #1c1c20;

      &:hover {
        color: #1e674e;
      }
    }
  }

  &__close {
    &-button {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      aspect-ratio: 1;
      padding: 0;
      border: none;
      background-color: #f5f5f5;
      cursor: pointer;

      &::before {
        content: '';
        display: block;
        width: 20px;
        aspect-ratio: 1;
        background: url(../assets/vidzhet-sv-v-01/close.svg) center / cover no-repeat;
        filter: brightness(0);
      }
    }
  }
}
