@import './variables';
@import './mixins';

.o-kompanii-v-02 {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 30px;

    @include desktop {
      gap: 0 20px;
    }
  }

  &__title {
    display: none;
    flex: 1 1 100%;
    margin: 0 0 12px;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: $color-black;

    @include laptop {
      display: block;
    }

    @include tablet {
      font-size: 28px;
    }
  }

  &__info {
    flex: 0 0 calc(100% - 630px - 30px);
    max-width: 730px;

    @include desktoplg {
      flex: 0 0 calc(100% - 516px - 30px);
    }

    @include desktop {
      flex: 0 0 calc(100% - 430px - 30px);
    }

    @include laptop {
      flex: 1 1 100%;
      order: 1;
      max-width: none;
      margin: 16px 0 0;
    }

    &-title {
      margin: 0;
      font-weight: 500;
      font-size: 38px;
      line-height: 140%;
      color: $color-black;

      @include desktoplg {
        font-size: 34px;
      }

      @include desktop {
        font-size: 32px;
      }

      @include laptop {
        display: none;
      }
    }

    &-subtitle {
      margin: 12px 0 16px;
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      color: $color-black;

      @include laptop {
        margin: 0 0 16px;
      }
    }

    &-text {
      margin: 12px 0 0;
      font-weight: 400;
      font-size: 15px;
      line-height: 140%;
      color: $color-dark-gray;
    }

    &-controls {
      display: flex;
      flex-wrap: wrap;
      gap: 12px 20px;
      margin: 30px 0 0;

      @include desktoplg {
        margin-top: 24px;
      }

      &-consult,
      &-offer {
        min-width: 246px;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        text-transform: uppercase;
        text-align: center;
        color: #fff;

        @include desktop {
          flex: 1 1 100%;
          min-width: auto;
        }
      }

      &-consult {
        background-color: #000000;

        &:hover {
          background-color: #1e674e;
        }
      }
    }
  }

  &__gallery {
    flex: 0 0 630px;

    @include desktoplg {
      flex: 0 0 516px;
    }

    @include desktop {
      flex: 0 0 430px;
    }

    @include laptop {
      flex: 1 1 100%;
      order: 0;
    }

    &-title {
      display: none;

      @include laptop {
        display: block;
        margin: 0 0 28px;
      }
    }

    & .swiper {
      display: grid;

      &-wrapper {
        min-width: 0;
      }

      &-button {
        &-prev,
        &-next {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          background-color: $color-black;
          transition-property: color;
          transition-timing-function: ease-in-out;
          transition-duration: 0.2s;

          &:hover {
            background-color: #1e674e;
          }

          &::after {
            content: '';
            display: block;
            width: 22px;
            aspect-ratio: 1;
            filter: invert(100%);
            background: url(../assets/o-kompanii-v-02/arrow-left.svg) center / cover no-repeat;
          }
        }

        &-prev {
          left: 0;

          &::after {
            transform: rotate(180deg);
          }
        }

        &-next {
          right: 0;
        }

        &-disabled {
          opacity: 0;
        }
      }
    }
  }

  &__slide {
    &-figure {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;

      &-image {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }
}
