@import './mixins';

.okno-spasibo-v-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0);
  transition: background-color ease-in-out 0.2s;
  will-change: background-color;
  pointer-events: none;

  &.active {
    pointer-events: all;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }

  &__body {
    position: relative;
    max-height: calc(100dvh - 48px);
    max-width: calc(100dvw - 30px);
    width: 484px;
    padding: 43px 48px 60px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fafafa;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
    will-change: opacity;

    @include tablet {
      padding: 36px 24px;
    }
  }

  &.active &__body {
    opacity: 1;
  }

  &__content {
    max-height: calc(100dvh - 68px);
    overflow: auto;

    @include tablet {
      max-height: calc(100dvh - 88px);
    }
  }

  &__title {
    margin: 0 0 13px;
    font-weight: 500;
    font-size: 38px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #1c1c20;

    @include mobile {
      margin-bottom: 11px;
      font-size: 32px;
    }
  }

  &__description {
    margin: 0 0 38px;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #87878e;

    @include laptop {
      font-size: 18px;
    }

    @include mobile {
      margin-bottom: 24px;
      font-size: 16px;
    }
  }

  &__disclaimer {
    margin: 0 0 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #1c1c20;

    @include laptop {
      font-size: 18px;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 auto;

    &-link {
      font-weight: 600;
      font-size: 28px;
      line-height: 125%;
      letter-spacing: -0.01em;
      color: #1c1c20;

      &:hover {
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: #1e674e;
      }
    }
  }

  &__close {
    &-button {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 54px;
      width: 54px;
      padding: 0;
      border: none;
      background-color: #f5f5f5;
      cursor: pointer;

      &::before {
        content: '';
        display: block;
        width: 28px;
        aspect-ratio: 1 / 1;
        background: url(../assets/okno-spasibo-v-1/close.svg) center / cover no-repeat;
        filter: brightness(0);
      }
    }
  }
}
