@import './variables';
@import './mixins';

.okno-spasibo-v-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: $color-black, $alpha: 0);
  transition: background-color ease-in-out 0.2s;
  will-change: background-color;
  pointer-events: none;

  &.active {
    pointer-events: all;
    background-color: rgba($color: $color-black, $alpha: 0.5);
  }

  &__body {
    position: relative;
    max-height: calc(100dvh - 48px);
    max-width: calc(100dvw - 30px);
    width: 360px;
    padding: 24px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: $color-white;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
    will-change: opacity;

  }

  &.active &__body {
    opacity: 1;
  }

  &__content {
    max-height: calc(100dvh - 96px);
    overflow: auto;
  }

  &__title {
    margin: 0 0 8px;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: $color-black;
  }

  &__description {
    margin: 0 0 24px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: $color-dark-gray;
  }

  &__disclaimer {
    margin: 0 0 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: $color-black;
  }

  &__phone {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 auto;

    &-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.03em;
      color: $color-black;

      &:hover {
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: #1e674e;
      }
    }
  }

  &__close {
    &-button {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      aspect-ratio: 1;
      padding: 0;
      border: none;
      background-color: #f5f5f5;
      cursor: pointer;

      &::before {
        content: '';
        display: block;
        width: 20px;
        aspect-ratio: 1;
        background: url(../assets/okno-spasibo-v-1/close.svg) center / cover no-repeat;
        filter: brightness(0);
      }
    }
  }
}
