@import './variables';
@import './mixins';

.preimuschestva-v-01 {
  overflow: hidden;

  &__wrapper {
    & .swiper {
      display: grid;

      @include desktoplg {
        overflow: visible;
      }

      &-wrapper {
        min-width: 0;
      }

      &-slide {
        height: 100%;
        width: fit-content;
      }

      &-button {
        &-prev,
        &-next {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          background-color: $color-black;
          transition-property: color;
          transition-timing-function: ease-in-out;
          transition-duration: 0.2s;
          display: none;

          &:hover {
            background-color: #1e674e;
          }

          &::after {
            content: '';
            display: block;
            width: 22px;
            aspect-ratio: 1;
            filter: invert(100%);
            background: url(../assets/etapy-v-01/arrow-left.svg) center / cover no-repeat;
          }
        }

        &-prev {
          left: 0;

          &::after {
            transform: rotate(180deg);
          }
        }

        &-next {
          right: 0;
        }

        &-disabled {
          opacity: 0;
        }
      }
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 30px 20px 36px;
    box-sizing: border-box;
    background-color: #f5f5f5;

    @include desktop {
      max-width: 270px;
      width: auto;
    }

    @include laptop {
      max-width: 309px;
    }

    @include tablet {
      max-width: 299px;
    }

    &-icon {
      margin: 0;

      &-image {
        display: block;
        max-width: 100%;
        width: 75px;
        height: auto;
      }
    }

    &-title {
      margin: 30px 0 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      text-transform: uppercase;
      color: #1c1c20;
    }

    &-description {
      margin: 16px 0 0;
      font-weight: 400;
      font-size: 15px;
      line-height: 140%;
      color: #3e3e3e;
    }
  }

  &__callback {
    margin: 20px 0 0;

    &-button {
      max-width: calc(100% / 4 - 30px / 4 * 3);
      width: 100%;

      @include desktoplg {
        max-width: calc(100% / 4 - 20px / 4 * 3);
      }

      @include desktop {
        max-width: 270px;
      }

      @include laptop {
        max-width: 309px;
      }

      @include tablet {
        max-width: 299px;
      }
    }
  }

    &__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba($color: $color-black, $alpha: 0);
    transition: background-color ease-in-out 0.2s;
    will-change: background-color;
    pointer-events: none;

    &.active {
      pointer-events: all;
      background-color: rgba($color: $color-black, $alpha: 0.5);
    }

    &-body {
      position: relative;
      max-height: calc(100dvh - 30px);
      max-width: calc(100dvw - 30px);
      width: 360px;
      padding: 24px 20px;
      box-sizing: border-box;
      overflow: hidden;
      background-color: $color-white;
      opacity: 0;
      transition: opacity ease-in-out 0.4s;
      will-change: opacity;
    }

    &.active &-body {
      opacity: 1;
    }

    &-content {
      max-height: calc(100dvh - 74px);
      overflow: auto;
    }

    &-title {
      margin: 0 0 8px;
      padding-right: 30px;
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      color: $color-black;
    }

    &-description {
      margin: 0 0 24px;
      font-weight: 400;
      font-size: 15px;
      line-height: 140%;
      color: #3e3e3e;
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 14px;
      margin: 0 0 12px;

      @include mobile {
        margin-bottom: 11px;
      }

      &-input {
        display: inline-block;
        min-height: 58px;
        width: calc(16 / 14 * 100%);
        margin: 0 -7%;
        padding: 14px 20px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: $color-black;
        border: 1px solid #ebebeb;
        border-radius: 0px;
        outline: none;
        background-color: $color-white;
        transform: scale(0.875);
        transition-property: background-color, border-color, color;
        transition-timing-function: ease-out;
        transition-duration: 0.2s;

        &:user-invalid {
          color: $color-red;
          border-color: $color-red;
        }

        &::placeholder {
          font-weight: 400;
          color: #a1a1a4;
        }
      }

      &-submit {
        margin: 4px 0 0;
      }
    }

    &-disclaimer {
      margin: 0;
      font-weight: 400;
      font-size: 13px;
      line-height: 154%;
      color: #a1a1a4;
      transition: color ease-in-out 0.2s;

      & a {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: inherit;

        &:hover {
          color: #1e674e;
        }
      }
    }

    &-close {
      &-button {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        aspect-ratio: 1;
        padding: 0;
        border: none;
        background-color: #f5f5f5;
        cursor: pointer;

        &::before {
          content: '';
          display: block;
          width: 20px;
          aspect-ratio: 1;
          background: url(../assets/vidzhet-sv-v-01/close.svg) center / cover no-repeat;
          filter: brightness(0);
        }
      }
    }
  }
}
