@import './variables';
@import './mixins';

.proekty-v-01 {
  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;

    @include desktoplg {
      gap: 20px;
    }
  }

  &__card {
    display: flex;
    flex: 1 1 100%;
    background-color: #f5f5f5;
    padding-bottom: 40px;

    @include desktop {
      padding-bottom: 32px;
    }

    @include laptop {
      flex-wrap: wrap;
      padding-bottom: 0px;
    }

    &.hidden {
      display: none !important;
    }

    &-sliders {
      flex: 0 0 708px;
      order: 1;

      @include desktoplg {
        flex: 0 0 524px;
      }

      @include desktop {
        flex: 0 0 438px;
      }

      @include laptop {
        flex: 1 1 100%;
        order: 1;
      }

      &-main {
        position: relative;
        display: grid;

        &-image {
          display: block;
          max-width: 100%;
          height: auto;
        }

        &-controls {
          &-prev,
          &-next {
            position: absolute;
            top: 50%;
            z-index: 20;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            aspect-ratio: 1 / 1;
            box-sizing: border-box;
            border: none;
            background-color: #1c1c20;
            backface-visibility: hidden;
            transform: translate3d(0, -50%, 0);
            transition: background-color ease-out 0.2s;
            cursor: pointer;

            &:hover {
              background-color: #1e674e;
            }

            &::after {
              content: '';
              display: block;
              width: 22px;
              aspect-ratio: 1 / 1;
              background: url(../assets/proekty-v-01/arrow-left.svg) center / cover no-repeat;
            }
          }

          &-prev {
            left: 0;
          }

          &-next {
            right: 0;

            &::after {
              transform: rotate(180deg);
            }
          }
        }
      }

      &-thumbs {
        &-image {
          display: block;
          max-width: 100%;
          height: auto;
        }

        & .swiper {
          &-slide {
            position: relative;
            box-sizing: border-box;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: 10;
              border: 4px solid #1e674e;
              opacity: 0;
              transition: opacity ease-out 0.1s;
            }

            &-thumb {
              &-active {
                &::before {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      &-main,
      &-thumbs {
        display: grid;

        & .swiper {
          max-width: 100%;
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      flex: 0 1 auto;
      order: 0;
      padding: 40px;
      padding-right: 50px;
      padding-bottom: 0px;

      @include desktoplg {
        padding: 32px;
        padding-right: 40px;
        padding-bottom: 0px;
      }

      @include laptop {
        flex: 1 1 100%;
        order: 1;
        padding: 15px;
        padding-top: 20px;
      }

      &-title {
        margin: 0 0 30px;
        font-weight: 500;
        font-size: 26px;
        line-height: 140%;
        color: #1c1c20;

        @include desktoplg {
          margin-bottom: 24px;
          font-size: 24px;
        }

        @include desktop {
          font-size: 22px;
        }

        @include laptop {
          font-size: 20px;
        }
      }

      &-info {
        margin: 20px 0 0;

        @include desktoplg {
          margin-top: 16px;
        }

        &-title {
          font-weight: 500;
          font-size: 15px;
          line-height: 140%;
          color: #a1a1a4;
        }

        &-text {
          margin: 3px 0 0;
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
          color: #1c1c20;
        }
      }

      &-contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1 1 auto;
        gap: 16px;
        margin: 32px 0 0;

        @include laptop {
          margin-top: 28px;
        }

        &-link {
          color: #ffffff;
          border-color: #1e674e;
          background-color: #1e674e;

          &:hover {
            border-color: #1c1c20;
            background-color: #1c1c20;
          }
        }

        &-button {
          color: #ffffff;
          border-color: #1c1c20;
          background-color: #1c1c20;

          &:hover {
            border-color: #1e674e;
            background-color: #1e674e;
          }
        }

        &-link,
        &-button {
          @include laptop {
            min-height: 54px;
            padding: 15px 16px;
          }
        }
      }
    }
  }

  &__more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0 0;

    @include desktop {
      margin-top: 50px;
    }

    @include tablet {
      margin-top: 30px;
    }

    &-button {
      padding: 16px 18px;
      color: #ffffff;
      border-color: #1e674e;
      background-color: #1e674e;

      @include laptop {
        min-height: 54px;
        padding: 15px 16px;
      }

      &:hover {
        border-color: #1c1c20;
        background-color: #1c1c20;
      }
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0);
    transition: background-color ease-in-out 0.2s;
    will-change: background-color;
    pointer-events: none;

    &.active {
      pointer-events: all;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }

    &-body {
      position: relative;
      max-height: calc(100dvh - 48px);
      max-width: calc(100dvw - 30px);
      width: 484px;
      padding: 43px 48px 56px;
      box-sizing: border-box;
      overflow: hidden;
      background-color: #fafafa;
      opacity: 0;
      transition: opacity ease-in-out 0.4s;
      will-change: opacity;

      @include tablet {
        padding: 36px 24px;
      }
    }

    &.active &-body {
      opacity: 1;
    }

    &-content {
      max-height: calc(100dvh - 68px);
      overflow: auto;

      @include tablet {
        max-height: calc(100dvh - 88px);
      }
    }

    &-title {
      margin: 0 0 13px;
      font-weight: 500;
      font-size: 38px;
      line-height: 140%;
      letter-spacing: -0.01em;
      color: #1c1c20;

      @include mobile {
        margin-bottom: 11px;
        font-size: 32px;
      }
    }

    &-description {
      margin: 0 0 45px;
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: -0.01em;
      color: #87878e;

      @include mobile {
        margin-bottom: 30px;
      }
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin: 0 0 19px;

      @include mobile {
        margin-bottom: 11px;
      }

      &-input {
        display: inline-block;
        min-height: 50px;
        width: 100%;
        padding: 13px 20px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.01em;
        color: $color-black;
        outline: none;
        border: 1px solid #444444;
        background-color: #ffffff;

        &:user-invalid {
          border-color: $color-red;
        }

        &::placeholder {
          font-weight: 400;
          color: $color-dark-gray;
        }

        &:focus::placeholder {
          color: $color-dark-gray;
        }
      }

      &-submit {
        margin: 24px 0 0;
        color: #ffffff;
        border-color: #1e674e;
        background-color: #1e674e;

        @include mobile {
          margin: 0;
        }
      }
    }

    &-disclaimer {
      margin: 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: -0.01em;
      color: #b9b9b9;
      transition: color ease-in-out 0.2s;

      & a {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #1c1c20;

        &:hover {
          color: #1e674e;
        }
      }
    }

    &-close {
      &-button {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 54px;
        width: 54px;
        padding: 0;
        border: none;
        background-color: #f5f5f5;
        cursor: pointer;

        &::before {
          content: '';
          display: block;
          width: 28px;
          aspect-ratio: 1 / 1;
          background: url(../assets/proekty-v-01/close.svg) center / cover no-repeat;
          filter: brightness(0);
        }
      }
    }
  }
}
