@import './variables';
@import './mixins';

.proekty-v-01 {
  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;

    @include desktoplg {
      gap: 20px;
    }
  }

  &__card {
    display: flex;
    flex: 1 1 100%;
    background-color: #f5f5f5;
    padding-bottom: 40px;

    @include desktop {
      padding-bottom: 32px;
    }

    @include laptop {
      flex-wrap: wrap;
      padding-bottom: 0px;
    }

    &.hidden {
      display: none !important;
    }

    &-sliders {
      flex: 0 0 708px;
      order: 1;

      @include desktoplg {
        flex: 0 0 524px;
      }

      @include desktop {
        flex: 0 0 438px;
      }

      @include laptop {
        flex: 1 1 100%;
        order: 1;
      }

      &-main {
        position: relative;
        display: grid;

        &-image {
          display: block;
          max-width: 100%;
          height: auto;
        }

        &-controls {
          &-prev,
          &-next {
            position: absolute;
            top: 50%;
            z-index: 20;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            aspect-ratio: 1 / 1;
            box-sizing: border-box;
            border: none;
            background-color: #1c1c20;
            backface-visibility: hidden;
            transform: translate3d(0, -50%, 0);
            transition: background-color ease-out 0.2s;
            cursor: pointer;

            &:hover {
              background-color: #1e674e;
            }

            &::after {
              content: '';
              display: block;
              width: 22px;
              aspect-ratio: 1 / 1;
              background: url(../assets/proekty-v-01/arrow-left.svg) center / cover no-repeat;
            }
          }

          &-prev {
            left: 0;
          }

          &-next {
            right: 0;

            &::after {
              transform: rotate(180deg);
            }
          }
        }
      }

      &-thumbs {
        position: relative;
        z-index: 100;
        margin: -1px 0 0;

        &-image {
          display: block;
          max-width: 100%;
          height: auto;
        }

        & .swiper {
          &-slide {
            position: relative;
            box-sizing: border-box;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: 10;
              border: 2px solid #1e674e;
              opacity: 0;
              transition: opacity ease-out 0.1s;
            }

            &-thumb {
              &-active {
                &::before {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      &-main,
      &-thumbs {
        display: grid;

        & .swiper {
          max-width: 100%;
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      flex: 0 1 auto;
      order: 0;
      padding: 40px;
      padding-right: 50px;
      padding-bottom: 0px;

      @include desktoplg {
        padding: 32px;
        padding-right: 40px;
        padding-bottom: 0px;
      }

      @include laptop {
        flex: 1 1 100%;
        order: 1;
        padding: 15px;
        padding-top: 20px;
      }

      &-title {
        margin: 0 0 30px;
        font-weight: 500;
        font-size: 26px;
        line-height: 140%;
        color: #1c1c20;

        @include desktoplg {
          margin-bottom: 24px;
          font-size: 24px;
        }

        @include desktop {
          font-size: 22px;
        }

        @include laptop {
          font-size: 20px;
        }
      }

      &-info {
        margin: 20px 0 0;

        @include desktoplg {
          margin-top: 16px;
        }

        &-title {
          font-weight: 500;
          font-size: 15px;
          line-height: 140%;
          color: #a1a1a4;
        }

        &-text {
          margin: 3px 0 0;
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
          color: #1c1c20;
        }
      }

      &-contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1 1 auto;
        gap: 12px;
        margin: 32px 0 0;

        @include laptop {
          margin-top: 28px;
        }

        &-link {
          color: #ffffff;
          border-color: #1e674e;
          background-color: #1e674e;

          &:hover {
            border-color: #1c1c20;
            background-color: #1c1c20;
          }
        }

        &-button {
          color: #ffffff;
          border-color: #1c1c20;
          background-color: #1c1c20;

          &:hover {
            border-color: #1e674e;
            background-color: #1e674e;
          }
        }

        &-link,
        &-button {
          font-weight: 500;

          @include laptop {
            min-height: 54px;
            padding: 15px 16px;
          }
        }
      }
    }
  }

  &__more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0 0;

    @include desktop {
      margin-top: 50px;
    }

    @include tablet {
      margin-top: 30px;
    }

    &-button {
      padding: 16px 18px;
      color: #ffffff;
      border-color: #1e674e;
      background-color: #1e674e;

      @include laptop {
        min-height: 54px;
        padding: 15px 16px;
      }

      &:hover {
        border-color: #1c1c20;
        background-color: #1c1c20;
      }
    }
  }
}
