@import './variables';
@import './mixins';

.search-01 {
  &__wrapper {
    position: relative;

    @include tablet {
      max-height: 40px;
      overflow: hidden;
    }
  }

  &__input {
    display: block;
    min-height: 40px;
    width: 100%;
    padding: 9px 12px;
    padding-right: 96px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 140%;
    color: #3e3e3e;
    outline: none;
    border: 1px solid #ddd;
    transition-property: border;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;

    @include tablet {
      min-height: 45px;
      width: calc(16 / 14 * 100%);
      margin: 0 -7.2%;
      padding: 10px 14px;
      padding-right: 80px;
      box-sizing: border-box;
      font-size: 16px;
      line-height: 100%;
      transform: scale(0.875) translateY(-3px);
    }

    &:focus {
      border-color: #3e3e3e;
    }

    &::placeholder {
      color: #c2c2c2;
    }
  }

  &__search,
  &__reset {
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__search {
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color ease-out 0.2s;

    &::before {
      content: '';
      position: relative;
      z-index: 10;
      display: block;
      width: 24px;
      height: 24px;
      background: url(../assets/search-01/search.svg) center / 18px no-repeat;
      transition: filter ease-out 0.2s;
    }
  }

  &:has(&__input:focus) &__search {
    background-color: #1e674e;

    &::before {
      filter: brightness(0%) invert(100%);
    }
  }

  &__reset {
    right: 40px;
    z-index: 9;
    background: url(../assets/search-01/reset.svg) center / 16px no-repeat;
    opacity: 0;
    pointer-events: none;
    transition: opacity ease-out 0.2s;

    @include tablet {
      right: 32px;
      width: 24px;
      height: 24px;
    }

    &.active {
      opacity: 0.5;
      pointer-events: all;

      &:hover {
        opacity: 1;
      }
    }
  }
}
