@import './variables';
@import './mixins';

.taby-v-02 {
  overflow: hidden;

  &__gallery {
    & .swiper {
      overflow: visible;

      &-slide {
        width: auto;
        padding-right: 16px;

        @include laptop {
          padding-right: 14px;
        }
      }
    }
  }

  &__tab {
    width: fit-content;
    padding: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #1c1c20;
    white-space: nowrap;
    border-radius: 64px;
    background-color: #f5f5f5;
    transition-property: background-color, color;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
    will-change: background-color, color;
    user-select: none;
    cursor: pointer;

    &:hover {
      color: #ffffff;
      background-color: #1e674e;
    }
  }
}
