@import './variables';
@import './mixins';

.video-text-v-01 {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    display: none;
    flex: 1 1 100%;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #1c1c20;

    @include laptop {
      display: block;
      margin: 0 0 12px;
    }

    @include tablet {
      font-size: 28px;
    }
  }

  &__video {
    flex: 0 0 44.5%;
    width: 100%;
    margin: 0;
    overflow: hidden;

    @include laptop {
      flex: 1 1 100%;
    }

    &-wrapper {
      position: relative;
      display: block;
      width: 100%;
      aspect-ratio: 642 / 428;
    }

    &-frame {
      display: block;
      width: 100%;
      height: auto;
      aspect-ratio: 642 / 428;
      box-sizing: border-box;
      border: none;
    }

    &-cover {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      display: flex;
      align-content: inherit;
      justify-content: center;

      &-image {
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        object-fit: cover;
        transition: filter ease-out 0.2s;
        filter: brightness(0.5);
      }

      &:hover &-image {
        filter: brightness(1);
      }

      &-button {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 100px;
        aspect-ratio: 1 / 1;
        border: none;
        border-radius: 100px;
        background: url(../assets/video-v-01/play.svg) center / cover no-repeat;
        transform: translate3d(-50%, -50%, 0);
        cursor: pointer;

        @include desktoplg {
          width: 80px;
        }

        @include laptop {
          width: 60px;
        }

        @include tablet {
          width: 50px;
        }
      }
    }

    &.active &-frame {
      display: block;
    }

    &.active &-cover {
      display: none;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 calc(100% - 44.5%);
    padding: 78px;
    box-sizing: border-box;

    @include desktoplg {
      padding: 30px;
    }

    @include desktop {
      padding: 20px;
    }

    @include laptop {
      flex: 1 1 100%;
      padding: 0;
    }

    &-title {
      margin: 0;
      font-weight: 500;
      font-size: 38px;
      line-height: 140%;
      color: #1c1c20;

      @include laptop {
        display: none;
      }
    }

    &-description {
      margin: 20px 0 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #3e3e3e;
    }

    &-author {
      margin: 40px 0 0;

      @include desktoplg {
        margin-top: 30px;
      }

      @include desktop {
        margin-top: 20px;
      }

      @include laptop {
        margin-top: 24px;
      }

      @include tablet {
        margin-top: 20px;
      }

      &-name,
      &-role {
        font-size: 18px;
        line-height: 140%;
        color: #3e3e3e;
      }

      &-name {
        margin: 0;
        font-weight: 500;
      }

      &-role {
        margin: 3px 0 0;
        font-weight: 400;
      }
    }
  }
}
