@import './variables';
@import './mixins';

.video-v-01 {
  &__video {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    &-frame {
      display: block;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: none;
      display: none;
    }

    &-cover {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      display: flex;
      align-content: inherit;
      justify-content: center;

      &-image {
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        transition: filter ease-out 0.2s;
        filter: brightness(0.5);
      }

      &:hover &-image {
        filter: brightness(1);
      }

      &-button {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 100px;
        aspect-ratio: 1 / 1;
        border: none;
        border-radius: 100px;
        background: url(../assets/video-v-01/play.svg) center / cover no-repeat;
        transform: translate3d(-50%, -50%, 0);
        cursor: pointer;

        @include desktoplg {
          width: 80px;
        }

        @include laptop {
          width: 60px;
        }

        @include tablet {
          width: 50px;
        }
      }
    }

    &.active &-frame {
      display: block;
    }

    &.active &-cover {
      display: none;
    }
  }
}
